.e_action_redesign{
  display: flex;
  flex-wrap: wrap;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid #81712F;
  box-sizing: border-box;
  border-radius: 8px;
  align-items: center;
  justify-content: stretch;
  padding-top: 22px;
  padding-bottom: 22px;
  position: relative;
  max-width: 100%;
  &-label{
    padding: 0!important;
    margin: 0;
    position: absolute!important;
    top: -22px;
    left: 30px;
    padding: 0;
    flex: 0 0 0px;
    border-right: 0px!important;
    svg{
      position: absolute;
      width: 82px;
      height: 77px;
      right: 100%;
      top: 0px;
      transform: translateX(10px) translateY(10px);
    }

  }
  li{
    position: relative;

    flex: 0 0 auto;
    color: #fff;
    padding: 0 38px;
    border-right: 1px solid rgba(255, 255, 255, 0.13);

    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:last-child{
      border-right: unset;
    }
    p,i{
      display: flex;
      align-items: center;

      margin: 0;
      font-size: 16px;
      line-height: 130%;
      font-family: 'Stolzl';
      &.price,&.day{
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 120%;
        span{
          font-size: 20px;
          line-height: 24px;
        }
      }
    }
    i{
      font-size: 40px;
      font-weight: 500;
      margin-right: 14px;
    }
  }
  @media screen and (max-width:1200px){
    padding: 22px;
    width: 740px;
    li{
      flex: 0 0 33.3%;
      &:nth-child(2),&:nth-child(3),&:nth-child(4){
        border-bottom: 1px solid rgba(255, 255, 255, 0.13);
      }
      &:nth-child(4){
        border-right: unset;
      }
    }
  }
  @media screen and (max-width:992px){
    width: 510px;
    li{
      flex: 0 0 50%;
      border-bottom: 1px solid rgba(255, 255, 255, 0.13);
      border-right: unset;
      &:nth-child(2n){
        border-right: 1px solid rgba(255, 255, 255, 0.13);
      }
      &:nth-child(6),&:last-child{
        border-bottom: unset;
      }
    }
  }
  @media screen and (max-width:576px){
    width: 207px;
    li{
      flex: 0 0 100%;
      padding-left: 0;
      padding-right: 0;
      border-bottom: none!important;
      border-right: none!important;
      justify-content: flex-start;
      padding-top: 16px;
      padding-bottom: 16px;
      &:nth-last-child(2),&:last-child{
        border-top: 1px solid rgba(255, 255, 255, 0.13);
      }
      p{
        text-align-last: left!important;
      }
    }
  }
}
