
$globalheight:27.2em;

@mixin portfolio {
  .portfolio{
    &__item{
      padding-left: 0;
      padding-right: 0;
      // height: $globalheight;
      max-width: 100%;
      min-width: 1px;
    }
  }
}


@mixin projects {
  .projects{

    &__img{
      height: $globalheight;

    }
    &__txt::before ,&__txt:hover::before{
      background-image: unset;
      //background-color: #fff;
      background: rgba(255, 255, 255, 0.9)!important;
    }
    &__txt-cont{
      flex-direction: column;
    }
    &__txt-cont .shape-text{
      flex-direction: row;
    }
    &__subtitle, &__desc{
      font-family: 'Stolzl';
      color: #222;
      text-align: left;
      width: 100%;
    }
    &__subtitle{
      font-weight: 500;
      font-size: 24px;
      line-height: 125%;
      text-transform: uppercase;
    }
    &__desc{
      font-size: 16px;
      line-height: 125%;
      margin-top: 12px;
      padding-left: 0;
      padding-right: 0;
    }
    // .projects__img-field:hover .projects__txt::before
    &__txt{
      padding-left: 30px;
      padding-right: 30px;
      margin-top: -110px;

      .shape-text{
        span,p{
          font-family: "Stolzl";
          color: #222;
          font-size: 16px;
          line-height: 120%;
          margin: 0;
          display: inline-block;
          margin: 8px 0;
        }
        p{
          font-weight: 500;
          line-height: 125%;
          height: auto;
        }
      }
      &-top,
      &-cont,
      &-footer{
        width: 100%;

        .btn{
          font-size: 16px;
          width: 312px;
          max-width: 90%;
          white-space: nowrap;
          margin: 10px;
          padding-top: 15px;
          padding-bottom: 15px;
          &:first-child{
            margin-top: 0;
          }
          &:last-child{
            margin-bottom: 0;
          }
        }
      }
      &-cont{
        min-width: 1px;
      }

    }

    &__img-field:hover .projects__txt{
      padding-top: 72px;
      padding-bottom: 72px;
    }
    @include hd_descktop{
      &__txt{
        margin-top: -110px;
      }
      &__subtitle{
        font-size: 20px;
        margin-bottom: 6px;
      }
      &__desc,.shape-text,.shape-text span,.shape-text p{
        font-size: 15px;
        margin-top: 0;
        margin-bottom: 0;
      }
      &__img-field:hover .projects__txt{
        padding: 40px 16px;
      }
      &__txt{
        padding-left: 16px;
        padding-right: 16px;
        &-footer{
          .btn{
            float: left;
            margin: 7px 0px;
            font-size: 14px;
            padding:11px 34px;
            width: 232px;

            &:first-child{
              margin-top: 0;
            }
            &:last-child{
              margin-bottom: 0;
            }
          }
        }
      }

    }
    @media screen and (max-width:480px) {

        &__txt-footer{
          width: 100%;
          max-width: 100%;
          .btn{
            width: auto;
          }
        }

    }
  }

}


.projects_redesign{
  border-top: unset;
  border-bottom: unset;
  overflow: hidden;
  &-loop{
    margin-top: 50px;

    margin-left: -30px;
    margin-right: -30px;

    @include portfolio;
    @include projects;
  }
}

