// color
$c-main:#222222;
$c-red:#EE4043;
$c-red_hover:#CE2F31;
$c-4f:#4F4F4F;
$c-ce:#CECECE;

//c-alpha
$c_alpha-input:rgba(73, 71, 228, 0.15);
$c_alpha-white_03:rgba(255, 255, 255, 0.3);
$c_alpha-white_005:rgba(255, 255, 255, 0.05);
$c_alpha-white_012:rgba(255, 255, 255, 0.12);
$c_alpha-l_lgey_025: rgba(206, 206, 206, 0.25);


