@import 'bootstrap3';

@import 'reset';
@import 'var';
@import 'fonts';
@import 'particles';
@import 'hamburger';
@import 'partials/common';
@import 'partials/header';


.banner {
  background: $color-black;
  $bannerColor:$color-white;
  position: relative;
  overflow: hidden;
  padding: 0px;

  &__inner {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

  }
  &__video{
    video{
      background-image: url('/img/main_banner_bg.jpg');
      background-size: cover;
      object-position: center;
      object-fit: cover;
    }
  }
  &__inner &-title {

    font-family: 'Stolzl', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    line-height: 120%;
    color: $bannerColor;
    letter-spacing: 0.035em;
    margin-bottom: 20px;
    span{
      color: transparent;
      -webkit-text-stroke-color: transparent;
      -webkit-text-stroke: 1px $bannerColor;
    }
  }
  &__list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
    li{
      text-align: center;
      padding: 30px;
      border-right: 1px dashed rgba(255, 255, 255, 0.4);
      p{
        font-family: 'Stolzl';
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 114.5%;
        /* or 18px */

        text-align: center;
        text-transform: uppercase;
        margin-bottom: 20px;
      }
      &:last-child{
        border-right: unset;
      }
    }
  }

  p,.p{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 114.5%;
    text-align: center;
    color: $bannerColor;
  }



  @media screen and (max-width:933px){
    &__inner &-title{
      font-size: 60px;
    }
  }
  @media screen and (max-width:767px){
    // padding-top: 120px;
    // padding-bottom: 50px;
    height: auto;
    &__inner{
      padding-top: 106px;
      padding-bottom: 0px;
    }
    &__inner &-title{
      font-size: 46px;
      text-align: center;
    }
    p,.p{
      font-size: 16px;
      margin-top: 14px;
      margin-bottom: 40px;
    }
    &__list{
      width: auto;
      flex-wrap: wrap;
      margin-left: -15px;
      margin-right: -15px;
      order: 1;
      li{

        flex: 1 1 100%;
        border-right: none;
        padding: 20px 16px;
        &:nth-child(1),&:nth-child(2){
          flex: 1 1 50%;
          max-width: 50%;


          border-bottom: none;
          border-right: 1px solid rgba(255, 255, 255, 0.4);
          border-bottom: 1px solid rgba(255, 255, 255, 0.4);
        }
        &:nth-child(2){
          border-right: none;
        }
        p{
          font-size: 14px;
        }
      }
    }
    .button{
      margin-top: 0;

      padding: 11px 43px;
      width: 100%;
      width: auto;
      max-width:100%;
    }

  }

}

@import 'slider';
@import 'partials/social';
@import 'partials/projects';
@import 'partials/results';
@import 'partials/our-technologies';
@import 'partials/contact-us';
@import 'partials/footer';
@import 'partials/our-services';
@import 'partials/about-us';
@import 'partials/animate';
@import 'partials/intlTelInput';
@import 'partials/popup';
@import 'partials/portfolio-loop';
@import 'partials/seo-text';






