@import 'portfolioParts';
@import "../bootstrap3";
@font-face {
    font-family: Geometria;
    src: url(/fonts/portfolio/baybay/Geometria-Bold.eot);
    src: url(/fonts/portfolio/baybay/Geometria-Bold.eot) format("embedded-opentype"), url(/fonts/portfolio/baybay/Geometria-Bold.woff) format("woff"), url(/fonts/portfolio/baybay/Geometria-Bold.ttf) format("truetype");
    font-weight: 700
}

@font-face {
    font-family: 'Gilroy';
    src: url(/fonts/portfolio/gilroy/Gilroy-Regular.woff) format("woff"), url(/fonts/portfolio/gilroy/Gilroy-Regular.ttf) format("ttf");
    font-weight: 400;
}

@font-face {
    font-family: 'Gilroy';
    src: url(/fonts/portfolio/gilroy/Gilroy-Medium.woff) format("woff"), url(/fonts/portfolio/gilroy/Gilroy-Medium.ttf) format("ttf");
    font-weight: 500;
}

@font-face {
    font-family: 'a_Concepto';
    src: url(/fonts/portfolio/a_Concepto/a_Concepto.woff) format("woff"), url(/fonts/portfolio/a_Concepto/a_Concepto.ttf) format("ttf");
    font-weight: 700;
}

@font-face {
    font-family: 'Gilroy';
    src: url(/fonts/portfolio/gilroy/Gilroy-SemiBold.woff) format("woff"), url(/fonts/portfolio/gilroy/Gilroy-SemiBold.ttf) format("ttf");
    font-weight: 600;
}

@font-face {
    font-family: 'Gilroy';
    src: url(/fonts/portfolio/gilroy/Gilroy-Bold.woff) format("woff"), url(/fonts/portfolio/gilroy/Gilroy-Bold.ttf) format("ttf");
    font-weight: 700;
}

@font-face {
    font-family: 'Gilroy';
    src: url(/fonts/portfolio/gilroy/Gilroy-Black.woff) format("woff"), url(/fonts/portfolio/gilroy/Gilroy-Black.ttf) format("ttf");
    font-weight: 900;
}

img {
    max-width: 100%;
}

.test {
    background-color: #c00;
    box-shadow: inset 0 0 0 3px #000;
    min-width: 10px;
    min-height: 10px;
    width: 100%;
    height: 100%;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.clear {
    &:after {
        content: '';
        clear: both;
        display: block;
    }
}

.align-items-center {
    align-items: center;
}

.container {
    @media screen and (min-width: 1800px) {
        width: 1780px;
        max-width: 100%;
    }
}

.portfolio main .button {
    $btnColor: #B2D550;
    $hoverBtnColor: transparent;
    $color: #222222;
    font-family: Stolzl;
    line-height: 1;
    font-size: 19px;
    color: $color;
    background: $btnColor;
    border-color: $btnColor;
    text-decoration: none!important;
    &:hover {
        background-color: #667E20;
        border-color: #667E20;
        color: #fff;
    }
}

.h1 {
    font-family: Geometria;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    text-align: center;
    letter-spacing: 1px;
    color: #555555;
    font-weight: 700;
    @media screen and (max-width: 1200px) {
        font-size: 21px;
    }
}

.shadow {
    box-shadow: 0px 0px 64px rgba(0, 0, 0, 0.15);
    border-radius: 40px;
    overflow: hidden;
    max-width: 100%;
    @media screen and (max-width: 1800px) {
        border-radius: 24px;
    }
    @media screen and (max-width:991px) {
        border-radius: 16px;
    }
    @media screen and (max-width:767px) {
        border-radius: 7px;
    }
}

.h1_decor {
    font-family: Gilroy;
    font-weight: bold;
    font-size: 64px;
    line-height: 1.5;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    margin-bottom: 100px;
    color: #000000;
    &::after {
        display: block;
        width: 184px;
        height: 4px;
        background-color: #000;
        content: '';
    }
    &.text-right::after {
        margin-left: auto;
    }
    &.text-center::after {
        margin-left: auto;
        margin-right: auto;
    }
    @media screen and (max-width:1200px) {
        font-size: 54px;
    }
    @media screen and (max-width:991px) {
        font-size: 44px;
        margin-bottom: 50px;
    }
    @media screen and (max-width:500px) {
        font-size: 18px;
        margin-bottom: 50px;
    }
    @media screen and (max-width:767px) {
        margin-bottom: 20px;
        font-size: 21px;
    }
    @media screen and (max-width:767px) {
        text-align: center;
        &:after {
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.imgcont {
    position: relative;
    &_position {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        $size: 1px;
        width: 1px;
    }
    &_name {
        font-family: a_Concepto;
        font-style: normal;
        font-weight: bold;
        font-size: 140px;
        line-height: .8;
        text-transform: uppercase;
        opacity: .05;
        color: #000;
        text-align: center;
        &.text-right {
            text-align: right;
        }
        //transform: rotate(-90deg);
    }
    .left &_name,
    .right &_name {
        writing-mode: vertical-lr;
        height: 100%;
        display: block;
        transform-origin: center;
    }
    .right &_name {
        transform: rotate( 180deg);
        margin-left: 10px;
    }
    .right {
        left: 100%;
        right: unset;
    }
    .left &_name {
        transform: rotate( -180deg);
        margin-left: -0.8em;
    }
    .bottom {
        top: 100%;
        bottom: unset;
        width: 100%;
    }
    @media screen and (max-width:1800px) {
        &_name {
            font-size: 120px;
        }
    }
    @media screen and (max-width:1200px) {
        &_name {
            font-size: 100px;
        }
    }
    @media screen and (max-width:991px) {
        &_name {
            font-size: 70px;
        }
    }
    @media screen and (max-width:767px) {
        &_name {
            display: none!important;
        }
    }
}

section {
    padding: 0;
}

.header {
    margin-top: 82px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('/img/portfolio/damba/header-bg.jpg') no-repeat center / cover;
    padding-top: 296px;
    padding-bottom: 30px;
    &__inner {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        position: relative;
        @media screen and (max-width: 991px) {
            display: block;
            margin: 50px auto;
        }
    }
    &__descr {
        flex: 0 0 45%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: auto;
        //margin-top: 186px;
        @media screen and (max-width: 1499px) {
            flex-basis: 40%;
            // margin-top: 405px;
        }
        @media screen and (max-width: 1199px) {
            // margin-top: 400px;
        }
        @media screen and (max-width: 991px) {
            // margin-top: 140px;
        }
    }
    &__img {
        position: relative;
        margin-right: -70px;
        margin-left: -56px;
        @media screen and (max-width: 1680px) {
            margin-left: 0;
            margin-right: 0;
        }
        @media screen and (max-width: 768px) {
            margin-left: 0;
            margin-right: 0;
            margin-top: 50px;
        }
        img {
            max-width: 100%;
        }
        &-phone {
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
    &__icons {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        align-items: center;
        margin: 0 auto;
        width: 184px;
        margin-bottom: 50px;
        max-width: 100%;
        margin: 40px 0;
        &-icon {
            width: 36px;
            height: 36px;
            img {
                display: inline-block;
                max-width: 100%;
                height: auto;
            }
        }
    }
    &__button {
        margin-top: 18px;
    }
    &__lamp {
        position: absolute;
        left: 0;
        right: 0;
        margin-bottom: 10px;
        bottom: 100%;
    }
    @media screen and (max-width:1200px) {
        padding-top: 100px;
    }
    @media screen and (max-width:991px) {
        padding-top: 50px;
        &__inner {
            display: flex;
        }
    }
}

.main {
    padding-top: 106px;
    padding-bottom: 140px;
    .decor {
        bottom: 100%;
        left: 100%;
        position: absolute;
        margin: -10%;
        margin-left: -22%;
        z-index: -1;
    }
    @media screen and (max-width:767px) {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

.interactive {
    background: url('/img/portfolio/damba/interactive_bg.jpg') no-repeat bottom;
    background-size: 100% auto;
    padding-bottom: 201px;
    @media screen and (max-width: 767px) {
        padding-bottom: 50px;
    }
}

.category {
    padding-top: 140px;
    padding-bottom: 140px;
    .imgcont {
        margin-bottom: 122px;
    }
    .imgcont_name {
        margin-right: -0.8em;
    }
    @media screen and (max-width:992px) {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    @media screen and (max-width:767px) {
        padding-top: 50px;
        padding-bottom: 50px;
        .imgcont {
            margin-bottom: 0px;
        }
    }
}

.fonts {
    padding-bottom: 160px;
    position: relative;
    &_decor {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        margin-left: -5%;
        margin-bottom: 16%;
    }
    .col-xs-12 {
        margin-top: auto;
        margin-bottom: auto;
    }
    p {
        font-family: Gilroy;
    }
    &_name,
    &_font,
    &_weig {
        font-family: Gilroy;
        font-weight: bold;
        text-align: center;
        letter-spacing: 0.01em;
    }
    &_name {
        height: 80px;
        width: 100%;
        color: #fff;
        background-color: #7FB04D;
        font-size: 34px;
        display: block;
        line-height: 80px;
    }
    &_font {
        font-size: 120px;
        line-height: 1.2;
        text-align: center;
        color: #000000;
    }
    &_weig {
        margin-left: -15px;
        margin-right: -15px;
        p {
            text-align: left;
            font-size: 30px;
            margin-bottom: 21px;
        }
        li:last-child p {
            margin-bottom: 0;
        }
        .Black {
            font-weight: 900;
        }
        .Bold {
            font-weight: 700;
        }
        .SemiBold {
            font-weight: 600;
        }
        .Medium {
            font-weight: 500;
        }
        .Regular {
            font-weight: 400;
        }
    }
    &_expl {
        font-family: Gilroy;
        font-style: normal;
        font-weight: normal;
        font-size: 28px;
        line-height: 138%;
        color: #000000;
        &.upper {
            text-transform: uppercase;
        }
    }
    @media screen and (max-width:1800px) {
        &_expl {
            font-size: 18px;
        }
        &_weig p {
            font-size: 23px;
        }
        &_font {
            font-size: 100px;
        }
        &_name {
            font-size: 25px;
            height: 50px;
            line-height: 50px;
        }
    }
    @media screen and (max-width:1200px) {
        &_expl {
            font-size: 16px;
        }
        &_weig p {
            font-size: 19px;
        }
        &_font {
            font-size: 88px;
        }
        &_name {
            font-size: 23px;
            height: 50px;
            line-height: 50px;
        }
    }
    @media screen and (max-width:991px) {
        &_weig {
            margin-left: 0;
            margin-right: 0;
        }
    }
    @media screen and (max-width:767px) {
        padding-bottom: 0;
        text-align: center;
        &_decor {
            display: none;
        }
        &_weig {
            p {
                text-align: center;
            }
        }
    }
}

.colors {
    display: flex;
    margin-left: auto;
    margin-top: 120px;
    li {
        margin: 0 87px;
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }
    }
    p {
        text-align: center;
        font-family: Gilroy;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        letter-spacing: 0.01em;
        margin-top: 24px;
        color: #484848;
        &.color-000000 {
            color: #000000;
        }
        &.color-484848 {
            color: #484848;
        }
        &.color-808080 {
            color: #808080;
        }
        &.color-ECECEC {
            color: #ECECEC;
        }
    }
    @media screen and (max-width:991px) {
        margin-top: 50px;
        margin-left: 0;
        li {
            margin: 0 20px;
        }
    }
    @media screen and (max-width:767px) {
        flex-direction: column;
        width: 100%;
        li {
            max-width: 170px;
            &,
            &:first-child,
            &:last-child {
                margin-right: auto;
                margin-left: auto;
            }
        }
    }
}

.shome {
    background: url(/img/portfolio/damba/interactive_bg.jpg) no-repeat top;
    padding-bottom: 230px;
    background-position: 0px 10%;
    background-size: 100% auto;
    &_decor {
        top: 100%;
        right: 100%;
        position: absolute;
        margin: -9%;
        z-index: -1;
    }
    @media screen and (max-width:767px) {
        padding-bottom: 50px;
        &_decor {
            display: none;
        }
    }
}

.else {
    margin-bottom: 140px;
    .imgcont {
        min-height: 1500px; // костыль
        &_name {
            text-align: left;
        }
    }
    @media screen and (max-width:1800px) {
        .imgcont {
            min-height: 950px;
        }
    }
    @media screen and (max-width:1200px) {
        .imgcont {
            min-height: 790px;
        }
    }
    @media screen and (max-width:991px) {
        .imgcont {
            min-height: 600px;
        }
    }
    @media screen and (max-width:767px) {
        margin-bottom: 50px;
        img {
            margin-bottom: 30px;
        }
    }
}

.adaptive {
    background: url(/img/portfolio/damba/interactive_bg.jpg) no-repeat top;
    background-size: 100% auto;
    background-position: bottom;
}

.thanks {
    background: url(/img/portfolio/damba/thanks_bg.png) no-repeat top;
    background-size: cover;
    position: relative;
    .decor {
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .container {
        position: relative;
        top: -100px;
        .logo {
            width: 168px;
        }
        .logo,
        .decor {
            position: absolute;
            bottom: 0;
            left: 0;
        }
        // .decor {
        //     bottom: -109px;
        //     left: -144px;
        // }
    }
    .holder {
        margin-top: auto;
        margin-bottom: auto;
        flex: 1 1 auto;
        margin-right: -45px;
    }
    p {
        font-family: Gilroy;
        font-weight: bold;
        font-size: 64px;
        line-height: 1.28;
        letter-spacing: 0.205em;
        text-transform: uppercase;
        color: #000000;
        margin-left: 18%;
        b {
            font-weight: 800;
            font-size: 128px;
            line-height: 82px;
            letter-spacing: 0.01em;
            color: #7FB04D;
        }
    }
    .img {
        margin-top: -15%;
    }
    padding-bottom: 50px;
    @media screen and (max-width:1800px) {
        p {
            font-size: 42px;
            b {
                font-size: 98px;
            }
        }
    }
    @media screen and (max-width:1800px) {
        .container {
            top: -20px;
        }
        p {
            font-size: 33px;
            b {
                font-size: 78px;
            }
        }
    }
    @media screen and (max-width:991px) {
        padding-bottom: 20px;
        .container {
            top: 0px;
            .logo {
                width: 98px;
            }
            .decor {
                bottom: -109px;
                left: -204px;
            }
        }
        p {
            font-size: 27px;
            b {
                font-size: 58px;
            }
        }
    }
    @media screen and (max-width:767px) {
        padding: 50px 0;
        .holder {
            margin: 0;
        }
        p {
            margin-left: 0;
            font-size: 24px;
            text-align: center;
            margin-bottom: 50px;
            b {
                // font-size: 58px;
            }
        }
        img {
            margin-top: 0!important;
        }
    }
}

@media screen and (max-width:767px) {
    .decor {
        display: none;
    }
}