
@import 'portfolioParts';
@import "../bootstrap3";

@font-face {
    font-family: "GilroyExtraBold";
    src: url("/fonts/portfolio/gilroy/Gilroy-ExtraBold.eot");
    src: url("/fonts/portfolio/gilroy/Gilroy-ExtraBold.eot") format("embedded-opentype"),
        url("/fonts/portfolio/gilroy/Gilroy-ExtraBold.woff") format("woff2"),
        url("/fonts/portfolio/gilroy/Gilroy-ExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: "Geometria-Bold";
    src: url("/fonts/portfolio/Geometria/Geometria-Bold.eot");
    src: url("/fonts/portfolio/Geometria/Geometria-Bold.eot") format("embedded-opentype"),
        url("/fonts/portfolio/Geometria/Geometria-Bold.woff2") format("woff2"),
        url("/fonts/portfolio/Geometria/Geometria-Bold.woff") format("woff"),
        url("/fonts/portfolio/Geometria/Geometria-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Gilroy";
    src: url("/fonts/portfolio/gilroy/Gilroy-Regular.eot");
    src: url("/fonts/portfolio/gilroy/Gilroy-Regular.eot") format("embedded-opentype"), url("/fonts/portfolio/gilroy/Gilroy-Regular.woff") format("woff2"),
        url("/fonts/portfolio/gilroy/Gilroy-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "IbmPlexSans";
    src: url("/fonts/portfolio/ibmplexsans/IBMPlexSans.woff2") format("woff2"),
        url("/fonts/portfolio/ibmplexsans/IBMPlexSans.ttf") format("truetype");
}

// _responsive-txt.scss
@function strip-unit($number) {
    @if type-of($number)=='number'and not unitless($number) {
        @return $number / ($number * 0 + 1);
    }

    @return $number;
}

@function calcFluidFontSize($f-min, $f-max, $w-min, $w-max, $units: px) {
    $f-min: strip-unit($f-min);
    $f-max: strip-unit($f-max);
    $w-min: strip-unit($w-min);
    $w-max: strip-unit($w-max);

    $k: ($f-max - $f-min)/($w-max - $w-min);
    $b: $f-min - $k * $w-min;

    $b: $b + $units;

    @return calc(#{$k} * 100vw + #{$b});
}

@mixin fluidFontSize($f-min, $f-max, $w-min, $w-max, $fallback: false) {

    font-size: $f-min;

    @media (min-width: $w-min) {
        @if ($fallback) {
            font-size: $fallback;
        }

        font-size: calcFluidFontSize($f-min, $f-max, $w-min, $w-max, px);
    }

    @media (min-width: $w-max) {
        font-size: $f-max;
    }
}

//end _responsive-txt.scss

// _var.scss
@mixin classic-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

@mixin content-block-absolute {
    content: '';
    display: block;
    position: absolute;
}

//end _var.scss

a {
    text-decoration: none !important;
}

section {
  padding: 0;
}

.header {
    @include classic-flex;
    align-items: center;
    background: url('/img/portfolio/ytstar/header-bg.jpg') no-repeat center / cover;
    height: 100vh;
    position: relative;
    z-index: 1;
    font-family: 'Geometria-Bold';

    &__container {
        max-width: 1780px;
        padding: 0 15px;
        margin: auto;
        width: 100%;
    }

    &__inner {
        @include classic-flex;
        align-items: flex-end;
        justify-content: flex-start;
        position: relative;

        @media screen and (max-width: 991px) {
            display: block;
            margin: 50px auto;
        }
    }

    &__description {
        flex-basis: 45%;
        margin-top: 186px;

        @media screen and (max-width: 1499px) {
            flex-basis: 40%;
            margin-top: 405px;
        }

        @media screen and (max-width: 1199px) {
            // margin-top: 592px;
        }

        @media screen and (max-width: 991px) {
            margin-top: 140px;
        }
    }

    &__logo {
        display: block;
        margin: 0 auto;
        text-align: center;
    }

    &__phone-laptop {
        position: absolute;
        right: 0;
        bottom: 30px;
        width: 64%;

        @media screen and (min-width: 1920px) {
            width: 1197px;
        }

        @media screen and (max-width: 991px) {
            margin-top: 28px;
            position: relative;
            width: 100%;
        }
    }

    &__img-phone {
        position: absolute;
        width: 23%;
        left: 50px;
        bottom: -20px;
        z-index: 1;

        @media screen and (max-width: 1367px) {
            left: 34px;
        }

        @media screen and (max-width: 575px) {
            left: 18px;
        }
    }

    &__img-laptop {
        max-width: 100%;
    }

    &__txt {
        @include fluidFontSize (18px, 24px, 320px, 991px, 24px);
        text-align: center;
        color: #5e5e5e;
        max-width: 424px;
        margin: 40px auto 55px auto;
        line-height: 1;

        @media screen and (max-width: 991px) {
            margin-bottom: 35px;
            margin-top: 25px;
        }
    }

    &__icons {
        @include classic-flex;
        align-items: center;
        margin: 0 auto;
        max-width: 184px;
        margin-bottom: 50px;
    }

    &__img-area {
        width: 36px;
        height: 36px;
    }

    &__icon-img {
        display: inline-block;
        max-width: 100%;
        height: auto;
    }

    &__button {
        display: block;
        color: #555555;
        text-transform: uppercase;
        border: 2px solid #00b4db;
        padding: 17px 23px;
        text-align: center;
        max-width: 226px;
        margin: 0 auto;
        @include fluidFontSize (14px, 18px, 320px, 991px, 18px);
        transition-duration: 0.5s;

        &:hover {
            background-color: #00b4db;
            color: #fff;
        }

        @media screen and (max-width: 991px) {
            padding: 14px;
        }
    }

    @media screen and (max-width: 991px) {
        height: 100%;
    }
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

body,
html {
    /*overflow-x: hidden;*/
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
}

.relative {
    position: relative;
}

.btn-prew-site {
    text-align: center;
    margin: 50px 0;
}

.home-wood .linkToSite {
    margin-left: 25px;
}

.home-wood .linkToSite a {
    display: inline-block;
    text-transform: uppercase;
    color: #000;
    font-size: 16px;
    padding: 10px 25px;
    background-color: #FABF50;
    border: 2px solid #FABF50;
    transition: all .3s;
    white-space: nowrap;
}

.home-wood .linkToSite a:hover {
    text-decoration: none;
    background-color: #fff;
}

@media screen and (max-width: 768px) {
    .home-wood .linkToSite {
        width: 100%;
        text-align: center;
        margin: 20px 0 0;
    }
}

.prewSite {
    border: 2px solid #97cb6e;
    border-radius: 2px;
    padding: 10px 25px;
    color: #edc564;
    transition: .4s all;
    font: 19px/19px GilroyExtraBold;
    text-decoration: none;
    cursor: pointer;
    width: 240px;
    text-align: center;
}

.home-wood .page-title-bg {
    position: absolute;
    font: 120px/120px GilroyExtraBold;
    opacity: 0.4;
    letter-spacing: 0.6px;
    font-weight: 400;
    color: #3e3e3e;
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    text-transform: uppercase;
}

.home-wood .title {
    margin: 30px 0px 70px 0px;
    position: relative;
    text-align: left;
}

.home-wood .title span {
    font: 80px/80px GilroyExtraBold;
    font-weight: 400;
    text-transform: uppercase;
    color: #edbf4f;
    display: block;
}

.home-wood .title .title__top p {
    display: inline-block;
    margin: 0px;
    color: #fff;
    font: 100px/80px Gilroy-Regular, sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
}

.home-wood .title .title__bottom {
    padding-left: 300px;
}

.home-wood .home {
    background-image: url("/img/portfolio/homewood/home-image-bg.png");
    background-position: 0% 55%;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    background-color: #232323;
    padding-bottom: 50px;
}

.home-wood .home .home__image {
    position: relative;
    -webkit-box-shadow: 0 0 43px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 43px rgba(0, 0, 0, 0.25);
}

.home-wood .home .home__image:before,
.home-wood .home .home__image:after {
    content: '';
    position: absolute;
    width: 80%;
    background-color: #fabf50;
    opacity: 0.2;
}

.home-wood .home .home__image:before {
    left: -80%;
    top: 9%;
    height: 1242px;
    height--webkit-clip-path: polygon(0 49%, 100% 47%, 100% 97.7%, 0% 100%);
    -webkit-clip-path: polygon(0 49%, 100% 47%, 100% 97.7%, 0% 100%);
    clip-path: polygon(0 49%, 100% 47%, 100% 97.7%, 0% 100%);
}

.home-wood .home .home__image:after {
    right: -80%;
    top: 8.67%;
    height: 1208px;
    height--webkit-clip-path: polygon(0 48%, 100% 45%, 100% 98%, 0% 100%);
    -webkit-clip-path: polygon(0 48%, 100% 45%, 100% 98%, 0% 100%);
    clip-path: polygon(0 48%, 100% 45%, 100% 98%, 0% 100%);
}

.home-wood .home .home__image img {
    width: 100%;
    height: auto;
    display: block;
    z-index: 3;
}

.home-wood .home .home__image .home__image-rowbg-bottom {
    position: absolute;
    height: 400px;
    width: 100%;
    bottom: 9.34%;
    left: 0px;
}

.home-wood .home .home__image .home__image-rowbg-bottom:before,
.home-wood .home .home__image .home__image-rowbg-bottom:after {
    content: '';
    position: absolute;
    width: 80%;
    background-color: #8ac65d;
    opacity: 0.2;
}

.home-wood .home .home__image .home__image-rowbg-bottom:before {
    left: -80%;
    height: 480px;
    -webkit-clip-path: polygon(0 7%, 110% 0, 100% 84%, 0 90%);
    clip-path: polygon(0 7%, 110% 0, 100% 84%, 0 90%);
}

.home-wood .home .home__image .home__image-rowbg-bottom:after {
    right: -80%;
    bottom: -6%;
    height: 480px;
    -webkit-clip-path: polygon(0 7%, 110% 0, 100% 84%, 0 90%);
    clip-path: polygon(0 7%, 110% 0, 100% 84%, 0 90%);
}

.home-wood .home .page-title-bg-top {
    right: -35%;
}

.home-wood .home .page-title-bg-bottom {
    top: 40%;
    left: -28%;
}

.home-wood .home .page-title-bg-bottom-right {
    right: -23%;
    bottom: 22%;
}

.home-wood .colsystem {
    padding-top: 50px;
    background-color: #232323;
    position: relative;
}

.home-wood .colsystem .row {
    position: relative;
}

.home-wood .colsystem .colsystem__bg {
    position: absolute;
    top: 0px;
    height: 100%;
    width: 93.5%;
    background-image: url("/img/portfolio/homewood/greed-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.home-wood .colsystem .title {
    z-index: 2;
    position: relative;
}

.home-wood .colsystem .title .title__bottom {
    padding-left: 400px;
}

.home-wood .colsystem .colsystem__sub-title {
    margin-bottom: 45px;
}

.home-wood .colsystem .colsystem__sub-title span {
    color: #edbf4f;
    font: 14px/18px GilroyExtraBold, sans-serif;
    font-weight: 400;
    letter-spacing: 0.28px;
    width: 215px;
    display: block;
}

.home-wood .colsystem .colsystem__sub-bottom-title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 50px 0px 100px 0px;
}

.home-wood .colsystem .colsystem__sub-bottom-title span {
    font: 24px/24px GilroyExtraBold, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.28px;
    color: white;
}

.home-wood .colsystem .colsystem__image {
    background-color: #232323;
    -webkit-box-shadow: 0 0 43px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 43px rgba(0, 0, 0, 0.25);
    position: relative;
}

.home-wood .colsystem .colsystem__image:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
}

.home-wood .colsystem .colsystem__image img {
    width: 100%;
    height: auto;
    display: block;
}

.home-wood .colsystem .page-title-bg-top {
    left: -40%;
    top: 15%;
}

.home-wood .color {
    background-color: #232323;
    position: relative;
    padding-bottom: 50px;
}

.home-wood .color .z-index {
    z-index: 14;
    position: relative;
}

.home-wood .color .color__bg-circle {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 15%;
    left: 0px;
    opacity: 0.1;
}

.home-wood .color .color__bg-circle:before {
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0;
    right: 0;
    margin: auto;
    width: 1600px;
    height: 1600px;
    border: 1px dashed #ecbf4f;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.home-wood .color .color__bg-circle:after {
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0;
    right: 0;
    margin: auto;
    width: 1400px;
    height: 1400px;
    border: 1px dashed #ecbf4f;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.home-wood .color .color__bg-circle .color__bg-circle-inner {
    position: absolute;
    width: 100%;
    height: 100%;
}

.home-wood .color .color__bg-circle .color__bg-circle-inner:before {
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0;
    right: 0;
    margin: auto;
    width: 1100px;
    height: 1100px;
    border: 1px dashed #ecbf4f;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.home-wood .color .color__bg-circle .color__bg-circle-inner:after {
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0;
    right: 0;
    margin: auto;
    width: 60px;
    height: 60px;
    border: 1px dashed #ecbf4f;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.home-wood .color .title .title__top {
    text-align: center;
}

.home-wood .color .color__circle {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 90px;
    padding-bottom: 50px;
}

.home-wood .color .color__circle .color__circle-hash {
    color: #ffffff;
    font-family: IbmPlexSans;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    display: inline-block;
    margin-top: 81px;
}

.home-wood .color .color__circle .color__circle-border {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

.home-wood .color .color__circle .color__circle-border:before {
    content: '';
    width: 203px;
    height: 201px;
    opacity: 0.25;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
}

.home-wood .color .color__circle .color__circle-border:after {
    content: '';
    width: 155px;
    height: 153px;
    opacity: 0.5;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
}

.home-wood .color .color__circle .color__circle-border .gold {
    background-color: #fabf50;
}

.home-wood .color .color__circle .color__circle-border .gold:before {
    border: 1px dashed #fabf50;
}

.home-wood .color .color__circle .color__circle-border .green {
    background-color: #8ac65d;
}

.home-wood .color .color__circle .color__circle-border .green:before {
    border: 1px dashed #8ac65d;
}

.home-wood .color .color__circle .color__circle-border .color__circle-inner {
    width: 89px;
    height: 88px;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.13);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.13);
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: relative;
}

.home-wood .color .color__circle .color__circle-border .color__circle-inner:before {
    content: '';
    width: 115px;
    height: 114px;
    position: absolute;
    right: -13px;
    top: -14px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.home-wood .color .color__circle .gold-brd:before {
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.13);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.13);
    border: 1px dashed #fabf50;
}

.home-wood .color .color__circle .gold-brd:after {
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.13);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.13);
    border: 1px dashed #fabf50;
}

.home-wood .color .color__circle .green-brd:before {
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.13);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.13);
    border: 1px dashed #8ac65d;
}

.home-wood .color .color__circle .green-brd:after {
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.13);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.13);
    border: 1px dashed #8ac65d;
}

.home-wood .color .color__fonts {
    margin-top: 72px;
}

.home-wood .color .color__fonts span {
    font: 48px/36px GilroyExtraBold;
    font-weight: 400;
    letter-spacing: 1.2px;
    text-align: center;
    display: block;
}

.home-wood .color .color__fonts .gold {
    color: #fabf50;
}

.home-wood .color .color__fonts .green {
    color: #8ac65d;
}

.home-wood .color .color__fonts p {
    color: #ffffff;
    font-weight: 400;
    letter-spacing: 1.2px;
    display: block;
    margin: 0 auto;
    width: 50%;
    margin-top: 21px;
    text-align: center;
}

.home-wood .color .color__fonts .font-gil {
    font: 16px/24px GilroyExtraBold;
}

.home-wood .color .color__fonts .font-ibm {
    font: 16px/24px IbmPlexSans;
}

.home-wood .color .color__img {
    position: relative;
}

.home-wood .color .color__img .color__img-phone {
    display: block;
    width: auto;
    height: 437px;
    top: 218px;
    position: absolute;
}

.home-wood .color .color__img .color__img-phone img {
    max-width: 100%;
    max-height: 100%;
}

.home-wood .color .color__img .color__img-desc {
    display: block;
    width: auto;
    height: 993px;
}

.home-wood .color .color__img .color__img-desc img {
    max-width: 100%;
}

.home-wood .color .page-title-bg-top {
    right: -20%;
}

.home-wood .color .page-title-bg-bottom-left {
    left: -41%;
    top: 35%;
}

.home-wood .lastpage {
    background-color: #232323;
    position: relative;
}

.home-wood .lastpage .lastpage__bg-circle {
    position: absolute;
    width: 100%;
    top: 20%;
    left: 0px;
    opacity: 0.1;
}

.home-wood .lastpage .lastpage__bg-circle:before {
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0;
    right: 0;
    margin: auto;
    width: 1600px;
    height: 1600px;
    border: 1px dashed #ecbf4f;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.home-wood .lastpage .lastpage__bg-circle:after {
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0;
    right: 0;
    margin: auto;
    width: 1400px;
    height: 1400px;
    border: 1px dashed #ecbf4f;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.home-wood .lastpage .lastpage__bg-circle .lastpage__bg-circle-inner {
    position: absolute;
    width: 100%;
    height: 100%;
}

.home-wood .lastpage .lastpage__bg-circle .lastpage__bg-circle-inner:before {
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0;
    right: 0;
    margin: auto;
    width: 1100px;
    height: 1100px;
    border: 1px dashed #ecbf4f;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.home-wood .lastpage .lastpage__bg-circle .lastpage__bg-circle-inner:after {
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0;
    right: 0;
    margin: auto;
    width: 60px;
    height: 60px;
    border: 1px dashed #ecbf4f;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.home-wood .lastpage .pos-relat {
    position: relative;
}

.home-wood .lastpage .lastpage__iamge {
    position: relative;
    z-index: 1;
}

.home-wood .lastpage .lastpage__iamge img {
    display: block;
    width: 100%;
    height: auto;
    display: block;
}

.home-wood .lastpage .lastpage-pos-rel {
    position: relative;
    padding-top: 100px;
}

.home-wood .lastpage .lastpage-pos-rel img {
    position: relative;
    height: auto;
    width: 655px;
    right: 85px;
}

.home-wood .lastpage .lastpage-pos-rel .lastpage__iamge:last-child(1) {
    position: relative;
    top: 50px;
}

.home-wood .lastpage .lastpage-pos-rel .lastpage__iamge:last-child(1) img {
    bottom: 0;
}

.home-wood .lastpage .lastpage__image-rowbg-bottom {
    position: absolute;
    height: 400px;
    width: 100%;
    bottom: 20%;
    left: 0px;
}

.home-wood .lastpage .lastpage__image-rowbg-bottom:before,
.home-wood .lastpage .lastpage__image-rowbg-bottom:after {
    content: '';
    position: absolute;
    width: 85%;
    background-color: #fabf50;
    opacity: 0.2;
}

.home-wood .lastpage .lastpage__image-rowbg-bottom:before {
    left: -80%;
    height: 480px;
    -webkit-clip-path: polygon(0 7%, 110% 0, 100% 84%, 0 90%);
    clip-path: polygon(0 7%, 110% 0, 100% 84%, 0 90%);
}

.home-wood .lastpage .lastpage__image-rowbg-bottom:after {
    right: -80%;
    bottom: -6%;
    height: 480px;
    -webkit-clip-path: polygon(0 7%, 110% 0, 100% 84%, 0 90%);
    clip-path: polygon(0 7%, 110% 0, 100% 84%, 0 90%);
}

.home-wood .lastpage .page-title-bg-top {
    right: -40%;
}

.home-wood .thankyou {
    background-color: #232323;
    padding: 100px 0px;
}

.home-wood .thankyou .thankyou__title {
    color: #8ac65d;
    font: 120px/120px GilroyExtraBold;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    display: block;
    text-align: center;
}

.home-wood .thankyou .thankyou__sub {
    color: #edbf4f;
    font: 80px/80px GilroyExtraBold;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    display: block;
    text-align: center;
}

.home-wood .thankyou img {
    display: block;
    width: auto;
    height: 143px;
    margin: 54px auto 0 auto;
}

@media screen and (max-width: 1024px) {
    .page-title-bg {
        display: none;
    }

    .home-wood .header .header__inner-layr-img img,
    .home-wood .color .color__img .color__img-desc {
        width: 100%;
        height: auto;
        position: relative;
    }

    .home-wood .header .header__inner-list .header__inner-list-body span .header__inner-list-body-icon {
        height: 52px;
    }

    .home-wood .title span {
        font-size: 70px;
    }

    .home-wood .title .title__top p {
        font-size: 90px;
    }

    .home-wood .home .home__image:after {
        display: none;
    }

    .home-wood .lastpage .lastpage-pos-rel img {
        width: 580px;
    }
}

@media screen and (max-width: 768px) {
    .home-wood .lastpage .lastpage__image-rowbg-bottom {
        display: none;
    }

    .home-wood .color .color__img .color__img-phone {
        z-index: 1;
        top: 150px;
    }

    .home-wood .lastpage .lastpage-pos-rel img {
        width: 100%;
        right: 0;
    }

    .home-wood .thankyou .thankyou__title {
        font-size: 80px;
        line-height: 80px;
    }

    .home-wood .thankyou .thankyou__sub {
        font-size: 60px;
        line-height: 60px;
    }

    .home-wood .title span {
        font: 42px/42px "GilroyExtraBold"
    }

    .home-wood .title .title__bottom {
        padding-left: 40%;
    }
}

@media screen and (max-width: 425px) {
    .home-wood .title span {
        font-size: 32px;
        line-height: 32px;
    }

    .home-wood .title .title__bottom,
    .home-wood .colsystem .title .title__bottom {
        padding-left: 150px;
    }

    .home-wood .colsystem .colsystem__bg {
        width: 90%;
        -webkit-background-size: contain;
        background-size: contain;
    }

    .home-wood .color .color__img .color__img-phone {
        position: static;
        top: 100px;
    }

    .home-wood .color .color__img .color__img-phone {
        height: 200px;
    }

    .home-wood .color {
        padding-bottom: 0px;
    }

    .home-wood .lastpage .lastpage-pos-rel img {
        width: 100%;
        right: 0px;
    }

    .home-wood .lastpage .lastpage-pos-rel {
        padding-top: 0px;
    }

    .home-wood .thankyou .thankyou__title {
        font-size: 42px;
        line-height: 42px;
    }

    .home-wood .thankyou .thankyou__sub {
        font-size: 32px;
        line-height: 32px;
    }

    .home-wood .thankyou img {
        height: 100px;
    }

    .home-wood .lastpage .lastpage__bg-circle {
        display: none;
    }


}

@media screen and (max-width: 425px) {
    .home-wood .colsystem {
        padding-top: 0px;
    }

    .home-wood .header .header__inner-list .header__inner-list-body span .header__inner-list-body-icon {
        height: 38px;
    }

    .home-wood .header .header__inner-list .header__inner-list-body span .header__inner-list-body-icon {
        margin: 0px 45px 40px 0px;
    }

    .home-wood .header .header__inner-list .header__inner-list-body span ul li p {
        margin-bottom: 0px
    }

    .home-wood .header .header__inner-list .header__inner-list-body span ul {
        padding-left: 0px;
    }

    .home-wood .header .header__inner-list .header__inner-list-body .header__inner-list-body-color {
        margin-right: 15px;
    }

    .home-wood .header .header__inner-layr-img {
        padding: 0px 15px;
    }
}

@media screen and (max-width: 320px) {
    .home-wood .color .color__img .color__img-phone {
        top: 70px;
        height: 150px;
    }

    .home-wood .title .title__top p {
        font-size: 62px;
    }

    .home-wood .title span {
        font-size: 28px;
    }

    .home-wood .header .header__inner-list .header__inner-list-body span .header__inner-list-body-icon {
        height: 28px;
    }

    .home-wood .header .header__inner-list .header__inner-list-body .header__inner-list-body-color {
        margin-bottom: 10px;
    }

    .home-wood .header .header__inner-list .header__inner-list-body span ul li p {
        margin: 5px 0px;
    }

    .home-wood .title {
        margin: 30px 0px 40px 0px;
    }

    .home-wood .color .title {
        margin: 30px 0px 0px 0px;
    }

    .home-wood .colsystem .colsystem__sub-bottom-title {
        margin-bottom: 0px;
    }

    .home-wood .color .color__circle {
        padding-bottom: 0px;
    }

    .home-wood .color .color__fonts p {
        width: 100%;
    }

    .home-wood .thankyou {
        padding: 30px 0px;
    }
}

.main_page_title {
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    position: relative;
    z-index: 1;
    font-weight: normal;
    line-height: 1;
    font-family: 'Gotham Pro';
}

@media screen and (max-width: 767px) {
    .main_page_title {
        font-size: 32px;
    }
}

@media screen and (max-width: 430px) {
    .main_page_title {
        font-size: 24px;
    }
}
