* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-size: 100%;
    box-sizing: border-box;
}

*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

@import 'portfolioParts';
@font-face {
    font-family: 'Proxima Nova Light Italic';
    src: url('/fonts/portfolio/hozsklad/ProximaNova-LightIt.eot');
    src: url('/fonts/portfolio/hozsklad/ProximaNova-LightIt.eot?#iefix') format('embedded-opentype'), url('/fonts/portfolio/hozsklad/ProximaNova-LightIt.woff') format('woff'), url('/fonts/portfolio/hozsklad/ProximaNova-LightIt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Regular';
    src: url('/fonts/portfolio/hozsklad/ProximaNova-Regular.eot');
    src: url('/fonts/portfolio/hozsklad/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('/fonts/portfolio/hozsklad/ProximaNova-Regular.woff') format('woff'), url('/fonts/portfolio/hozsklad/ProximaNova-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Bold';
    src: url('/fonts/portfolio/hozsklad/ProximaNova-Bold.eot');
    src: url('/fonts/portfolio/hozsklad/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('/fonts/portfolio/hozsklad/ProximaNova-Bold.woff') format('woff'), url('/fonts/portfolio/hozsklad/ProximaNova-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Extra Bold';
    src: url('/fonts/portfolio/hozsklad/ProximaNova-Extrabld.eot');
    src: url('/fonts/portfolio/hozsklad/ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'), url('/fonts/portfolio/hozsklad/ProximaNova-Extrabld.woff') format('woff'), url('/fonts/portfolio/hozsklad/ProximaNova-Extrabld.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Semibold';
    src: url('/fonts/portfolio/hozsklad/ProximaNova-Semibold.eot');
    src: url('/fonts/portfolio/hozsklad/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'), url('/fonts/portfolio/hozsklad/ProximaNova-Semibold.woff') format('woff'), url('/fonts/portfolio/hozsklad/ProximaNova-Semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

p {
    line-height: 1;
}

.hozsklad .header {
    height: 100vh;
    background: url("/img/portfolio/hozsklad/background.png") no-repeat center / cover;
    position: relative;
    z-index: 0;
    box-shadow: none;
    .header__container {
        height: 100%;
        width: 1170px;
        margin: 0 auto;
        padding: 0 15px;
    }
    .header__img {
        position: absolute;
        width: 60%;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }
    .header__inner {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: relative;
        height: 100%;
    }
    .header__logo {
        display: block;
        margin: 0 auto;
        text-align: center;
    }
    .header__title {
        color: #5e5e5e;
        font-size: 24px;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: 0.96px;
        margin: 27px auto 0;
        text-align: center;
        font-family: 'Proxima Nova Regular';
    }
    .header__button {
        padding: 17px 23px;
        border: 2px solid #00b4db;
        color: #555555;
        font-family: 'Proxima Nova Regular';
        font-size: 18px;
        font-weight: 700;
        line-height: 18px;
        text-transform: uppercase;
        letter-spacing: 0.36px;
        display: block;
        margin: 0 auto 60px;
        text-align: center;
        &:hover {
            text-decoration: none;
        }
    }
    .header__icons {
        margin: 35px auto 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header__icon {
        display: inline-block;
    }
    .header__icon-laptop {
        margin-left: 80px;
        &:first-child {
            margin-left: 0;
        }
    }
    .header__icon-smartphone {
        margin-left: 42px;
    }
    .header__icon-tablet {
        margin-left: 46px;
    }
    .header__button-container {
        margin: 60px auto 0;
        max-width: 250px;
    }
    .header__description {
        flex-basis: 30%;
    }
    .header__button:hover {
        transition: all .3s ease;
        background: #00b4db;
        color: #ffffff;
    }
}

.home-page {
    margin: 50px 0 135px;
}

.main-page-img {
    box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
}

.main-page-img2 {
    text-align: right;
}

.image2-container {
    position: relative;
    text-align: right;
}

.colors {
    display: flex;
    align-items: flex-end;
    padding-top: 110px;
    margin-bottom: 160px;
    justify-content: space-around;
}

.color-square {
    width: 80px;
    height: 80px;
    transform: rotate(45deg);
    position: relative;
    &_color1 {
        background-color: #f76c12;
        &::before {
            border: 1px solid #f76c12;
        }
    }
    &_color2 {
        background-color: #00bd50;
        &::before {
            border: 1px solid #00bd50;
        }
    }
    &_color3 {
        background-color: #00ceee;
        &::before {
            border: 1px solid #00ceee;
        }
    }
    &_color4 {
        background-color: #ef4a4a;
        &::before {
            border: 1px solid #ef4a4a;
        }
    }
    &::before {
        content: "";
        display: block;
        position: absolute;
        width: 98px;
        height: 98px;
        top: -9px;
        right: -8px;
    }
}

.color-name {
    color: #222222;
    font-family: "Proxima Nova Bold";
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    letter-spacing: 0.35px;
    margin: 30px 25px -20px;
    display: block;
    padding: 0 50px 10px 10px;
    position: relative;
    &::before {
        content: "";
        display: block;
        position: absolute;
        width: 122px;
        height: 30px;
        top: 0;
        right: 38px;
    }
    &.color1-name::before {
        background: url("/img/portfolio/hozsklad/color1_line.png") no-repeat center / contain;
    }
    &.color2-name::before {
        background: url("/img/portfolio/hozsklad/color2_line.png") no-repeat center / contain;
    }
    &.color3-name::before {
        background: url("/img/portfolio/hozsklad/color3_line.png") no-repeat center / contain;
    }
    &.color4-name::before {
        background: url("/img/portfolio/hozsklad/color4_line.png") no-repeat center / contain;
    }
}

.colors__section {
    display: flex;
    align-items: flex-end;
    flex-wrap: nowrap;
    justify-content: space-between;
    transform: translateX(50px);
}

.fonts {
    display: flex;
    align-items: center;
    justify-content: space-around;
    &__title {
        color: #222222;
        font-family: "Proxima Nova Extra Bold";
        font-size: 64px;
        letter-spacing: 1.6px;
        margin-bottom: 40px;
    }
    &__letters {
        color: #222222;
        font-family: "Proxima Nova Regular";
        font-size: 18px;
        letter-spacing: 1.35px;
        display: block;
    }
    &__list {
        position: relative;
        padding-left: 30px;
        &::before {
            content: "";
            display: block;
            position: absolute;
            width: 1px;
            height: 100%;
            background-color: #cecece;
            bottom: 15px;
            left: 0;
        }
        .fonts__weight-name {
            color: #222222;
            font-size: 18px;
            display: block;
            margin-bottom: 30px;
            &.fonts__weight-name1 {
                font-family: 'Proxima Nova Light Italic';
            }
            &.fonts__weight-name2 {
                font-family: 'Proxima Nova Regular';
            }
            &.fonts__weight-name3 {
                font-family: 'Proxima Nova Semibold';
            }
            &.fonts__weight-name4 {
                font-family: 'Proxima Nova Bold';
            }
            &.fonts__weight-name5 {
                font-family: 'Proxima Nova Extra Bold';
            }
        }
    }
}

.fonts-subtitle {
    margin-bottom: 92px;
}

.adaptation {
    background-color: #f8f8f8;
    margin-bottom: 110px;
    .adaptation__subtitle-inner {
        margin: 0 auto;
        max-width: 700px;
        .adaptation__subtitle {
            display: inline-block;
            margin-top: 85px;
        }
    }
    .adaptation__description {
        margin: 45px auto;
        max-width: 465px;
        text-align: center;
        line-height: 24px;
        font-family: 'Proxima Nova Regular';
    }
    .adaptation__img {
        margin: 0 auto;
        max-width: 1140px;
    }
}

.categories {
    margin-bottom: 130px;
    .categories__inner {
        display: flex;
        align-items: flex-start;
        margin-top: 85px;
        position: relative;
        .category-card1-container {
            z-index: 5;
        }
        .category-card2-container {
            z-index: -1;
            position: absolute;
            top: 107px;
            right: 0;
        }
    }
}

.product-card {
    margin-top: 80px;
}

.product-card__inner {
    display: flex;
    margin-bottom: 100px;
    margin-top: 80px;
    position: relative;
}

.cart-container {
    position: relative;
    text-align: right;
}

.cart__subtitle-container {
    max-width: 700px;
    margin: 0 auto;
}

.cart__subtitle {
    display: inline-block;
}

.cart__image-inner {
    margin: 80px 0 110px;
}

.private-account__inner {
    position: relative;
    margin: 65px 0 100px;
    .private-account__cards-container1 {
        position: relative;
        width: 100%;
        z-index: -1;
        .card1 {
            top: 0;
            left: 0;
        }
        .card2 {
            top: 80px;
            right: 0;
            position: absolute;
        }
    }
    .private-account__cards-container2 {
        margin-top: -160px;
        width: 100%;
        z-index: 2;
        position: relative;
        .card3 {
            top: 0;
            left: 0;
        }
        .card4 {
            top: 80px;
            right: 0;
            position: absolute;
        }
    }
    .private-account__cards-container3 {
        margin-top: -130px;
        width: 100%;
        z-index: 4;
        position: relative;
        .card5 {
            left: 0;
            top: 0;
        }
        .card6 {
            top: 130px;
            right: 0;
            position: absolute;
        }
    }
}

.other-pages__inner {
    display: flex;
    margin-top: 50px;
    position: relative;
    margin-bottom: 55px;
    .other-pages-wrapper1 {
        z-index: -1;
        width: 100%;
        .other-pages-cards1 {
            margin-top: 30px;
        }
    }
    .other-pages-wrapper2 {
        position: absolute;
        top: 60px;
        right: 0;
        z-index: 2;
        .other-pages-cards2:not(:first-child) {
            margin-top: 30px;
        }
    }
}

.end-section__inner {
    margin: 0 auto;
    max-width: 925px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .end-section__title {
        font-family: "Proxima Nova Extra bold";
        color: #00bd50;
        font-size: 92px;
        text-transform: uppercase;
    }
    .end-section__subtitle {
        font-family: "Proxima Nova Regular";
        font-size: 36px;
        text-transform: uppercase;
    }
}

.end-section__img {
    display: block;
}

.container {
    max-width: 1505px;
    padding: 0 15px;
    margin: auto;
}

.hozsklad .container {
    width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.subtitle {
    text-transform: uppercase;
    color: #222222;
    font-family: 'Proxima Nova Extra Bold', sans-serif;
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 1.2px;
    position: relative;
    padding: 30px 30px 0;
    z-index: 3;
}

.subtitle_pos-right {
    text-align: right;
}

.subtitle_pos-center {
    text-align: center;
}

.subtitle_sq-green-left::before {
    background: #00bd50;
    left: 0;
}

.subtitle_sq-orange-left::before {
    background: #f76c12;
    left: 0;
}

.subtitle_sq::before {
    content: "";
    display: block;
    position: absolute;
    width: 81px;
    height: 81px;
    border-radius: 16px;
    opacity: 0.2;
    top: 15px;
    right: 0;
    z-index: -1;
}

.subtitle_sq-left::before {
    left: 0;
    background-color: #f76c12;
}

.subtitle_sq-right::before {
    right: 0;
    background-color: #00bd50;
}

.subtitle-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 100px;
}

.t_title {
    writing-mode: vertical-rl;
    opacity: 0.1;
    color: #222222;
    font-family: "Proxima Nova Bold", sans-serif;
    font-size: 127px;
    text-transform: uppercase;
    letter-spacing: 25.43px;
    position: absolute;
    transform: rotate(-180deg);
    white-space: nowrap;
}

.left-title {
    left: -21px;
}

.right-title {
    right: -26px;
}

.product-card__title {
    top: 10%;
}

.cart__title {
    bottom: 0;
}

.orange-subtitle {
    color: #f76c12;
}

.green-subtitle {
    color: #00bd50;
}

.card-container img,
.img-shadow {
    box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
}

.image-container {
    position: relative;
    text-align: right;
}

img {
    max-width: 100%;
}

@media screen and (max-width: 1200px) {
    .container {
        width: 100%;
    }
    .header__container {
        width: 100%;
    }
    .subtitle-container {
        display: block;
    }
    .image1-container {
        margin: 30px auto 0;
        max-width: 50%;
    }
    .main-page-img {
        width: 90%;
    }
}

@media screen and (max-width: 1024px) {
    .title {
        display: none;
    }
    .main-page-img {
        width: 100%;
    }
    .private-account {
        .private-account__inner {
            .card2,
            .card4 {
                top: 100px;
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .colors {
        flex-wrap: wrap;
    }
    .colors__section {
        margin-top: 100px;
    }
    .hozsklad .header {
        height: 100%;
        .header__img {
            display: block;
            position: static;
            transform: none;
            margin: 0 auto;
        }
        .header__description {
            margin: 150px auto 0 auto;
            flex-basis: 100%;
        }
        .subtitle-container {
            margin-top: 30px;
        }
        .header__container {
            width: 100%;
        }
        .home-page {
            margin: 30px;
        }
        .colors {
            flex-wrap: wrap;
        }
        .color-square {
            flex-basis: 25%;
        }
    }
    .subtitle-container {
        display: block;
    }
    .end-section {
        &__inner {
            flex-wrap: wrap;
        }
        .description {
            width: 100%;
            text-align: center;
        }
    }
}

@media screen and (max-width: 768px) {
    .subtitle-container {
        margin-top: 25px;
    }
    .subtitle_sq::before {
        top: 5px;
    }
    .fonts-subtitle {
        margin-bottom: 25px;
    }
    .adaptation .adaptation__subtitle-inner .adaptation__subtitle {
        margin-top: 25px;
    }
    .header__title {
        font-size: 22px;
    }
    .adaptation {
        margin-bottom: 25px;
    }
    .categories .categories__inner,
    .cart__image-inner {
        margin-top: 50px;
    }
    .categories {
        margin-bottom: 30px;
    }
    .product-card {
        margin-top: 30px;
    }
    .product-card__inner {
        margin: 50px 0;
    }
    .subtitle {
        font-size: 25px;
    }
    .home-page {
        margin: 0 auto 30px;
    }
    .site-decoration {
        .fonts__title {
            font-size: 40px;
        }
    }
    .cart__image-inner {
        margin: 50px 0 0;
    }
    .private-account__inner {
        margin-top: 30px;
    }
    .private-account {
        margin-top: 30px;
    }
    .other-pages__inner {
        margin-top: 30px;
    }
    .categories {
        .category-card2-container {
            display: none;
        }
    }
    .colors {
        padding: 0;
        margin-bottom: 100px;
        &__section {
            margin-top: 100px;
        }
    }
    .other-pages {
        .other-pages-wrapper2 {
            display: none;
        }
    }
}

@media screen and (max-width: 600px) {
    .end-section__inner {
        .description {
            margin-top: 18px;
        }
        .end-section__title {
            font-size: 54px;
        }
        .end-section__subtitle {
            font-size: 28px;
        }
    }
    .site-decoration {
        .fonts__preview {
            display: none;
        }
    }
}

@media screen and (max-width: 480px) {
    .private-account {
        .private-account__cards-container2,
        .private-account__cards-container3 {
            margin-top: -100px;
        }
        .private-account__inner {
            .card2,
            .card4 {
                top: 80px;
            }
        }
    }
}

@media screen and (max-width: 320px) {
    .header {
        &__title {
            font-size: 20px;
        }
        &__button {
            padding: 13px 23px;
            font-size: 18px;
        }
        &__logo img {
            width: 50%;
        }
    }
}
