@import 'portfolioParts';

@font-face {
    font-family: 'Geometria';
    src: url("/fonts/portfolio/minoborona/Geometria-Bold.woff");
    src: url("/fonts/portfolio/minoborona/Geometria-Bold.eot") format("eot"), url("/fonts/portfolio/minoborona/Geometria-Bold.ttf") format("truetype"), url("/fonts/portfolio/minoborona/Geometria-Bold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

// _responsive-txt.scss
@function strip-unit($number) {
    @if type-of($number) == 'number' and not unitless($number) {
        @return $number / ($number * 0 + 1);
    }
    @return $number;
}

@function calcFluidFontSize($f-min, $f-max, $w-min, $w-max, $units: px) {
    $f-min: strip-unit($f-min);
    $f-max: strip-unit($f-max);
    $w-min: strip-unit($w-min);
    $w-max: strip-unit($w-max);

    $k: ($f-max - $f-min)/($w-max - $w-min);
    $b: $f-min - $k * $w-min;

    $b: $b + $units;

    @return calc( #{$k} * 100vw + #{$b} );
}

@mixin fluidFontSize($f-min, $f-max, $w-min, $w-max, $fallback: false) {

    font-size: $f-min;

    @media (min-width: $w-min) {
        @if ($fallback) {
            font-size: $fallback;
        }
        font-size: calcFluidFontSize($f-min, $f-max, $w-min, $w-max, px);
    }
    @media (min-width: $w-max) {
        font-size: $f-max;
    }
}
//end _responsive-txt.scss

// _var.scss
@mixin classic-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

@mixin content-block-absolute {
    content: '';
    display: block;
    position: absolute;
}
@mixin line {
    @include content-block-absolute;
    width: 160px;
    height: 1px;
    background-color: #afd755;
}
//end _var.scss

a {
    text-decoration: none !important;
}

main .header {
    @include classic-flex;
    align-items: center;
    background: url('/img/portfolio/minoborona/header-bg.jpg') no-repeat center / cover;
    height: 100vh;
    position: relative;
    z-index: 1;
    font-family: 'Geometria-Bold';
    box-shadow: none;
    &__container {
        max-width: 1780px;
        padding: 0 15px;
        margin: auto;
        width: 100%;
    }
    &__inner {
        @include classic-flex;
        align-items: flex-end;
        justify-content: flex-start;
        position: relative;
        @media screen and (max-width: 991px) {
            display: block;
            margin: 50px auto;
        }
    }
    &__description {
        flex-basis: 45%;
        margin-top: 186px;
        @media screen and (max-width: 1499px) {
            flex-basis: 40%;
            margin-top: 405px;
        }
        @media screen and (max-width: 1199px) {
            margin-top: 592px;
        }
        @media screen and (max-width: 991px) {
            margin-top: 80px;
        }
    }
    &__logo {
        display: block;
        margin: 0 auto;
        text-align: center;
    }
    &__phone-laptop {
        position:absolute;
        right: 0;
        bottom: 30px;
        width: 64%;
        @media screen and (min-width: 1920px) {
            width: 1197px;
        }
        @media screen and (max-width: 991px) {
            margin-top: 28px;
            position: relative;
            width: 100%;
        }
    }
    &__img-phone {
        position: absolute;
        width: 23%;
        left: 50px;
        bottom: -20px;
        z-index: 1;
        @media screen and (max-width: 1367px) {
            left: 34px;
        }
        @media screen and (max-width: 575px) {
            left: 18px;
        }
    }
    &__img-laptop {
        max-width: 100%;
    }
    &__txt {
        @include fluidFontSize (18px, 24px, 320px, 991px, 24px);
        text-align: center;
        color: #5e5e5e;
        max-width: 295px;
        margin: 40px auto 55px auto;
        line-height: 1;
        font-family: 'Geometria';
        font-weight: 700;
        @media screen and (max-width: 991px) {
            margin-bottom: 35px;
            margin-top: 25px;
        }
    }
    &__icons {
        @include classic-flex;
        align-items: center;
        margin: 0 auto;
        max-width: 184px;
        margin-bottom: 60px;
    }
    &__img-area {
        width: 36px;
        height: 36px;
    }
    &__icon-img {
        display: inline-block;
        max-width: 100%;
        height: auto;
    }
    &__button {
        display: block;
        color: #555555;
        text-transform: uppercase;
        border: 2px solid #00b4db;
        padding: 17px 23px;
        text-align: center;
        max-width: 226px;
        margin: 0 auto;
        font-family: 'Geometria';
        font-weight: 700;
        @include fluidFontSize (14px, 18px, 320px, 991px, 18px);
        transition-duration: 0.5s;
        &:hover {
            background-color: #00b4db;
            color: #fff;
        }
        @media screen and (max-width: 991px) {
            padding: 14px;
        }
    }
    @media screen and (max-width: 991px) {
        height: 100%;
    }
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
body {
    font-family: 'Geometria';
    font-weight: 400;
}
p, h1, h2, h3, h4{
    margin: 0;
    padding: 0;
}
ol, ul{
    padding: 0;
    margin: 0;
}
.mobile_block {
    display: none;
}
.first-screen {
    height: 100vh;
    position: relative;
}
.first-screen:before {
    content: '';
    position: absolute;
    display: block;
    width: 1920px;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: url('/img/portfolio/minoborona/bg-1.png') no-repeat;
}
.container {
    width: 80%;
    margin: 0 auto;
    position: relative;
}
.info-item:not(:last-child) {
    margin: 40px 0;
}
.info-block {
    margin-top: 60px;
    margin-bottom: 20px;
}

.info-title {
    color: #fff;
    font-weight: 700;
    display: flex;
    align-items: center;
    margin-bottom: 14px;
}
.text {
    font-size: 18px;
    margin-left: 10px;
}

.icons-block {
    display: flex;
    align-items: center;
    margin-left: 32px;
}
.icons-block img {
    margin: 0 15px;
}
.laptop {
    width: 51px;
    height: 41px;
}
.smartphone {
    width: 27px;
    height: 35px;
}
.tablet {
    width: 36px;
    height: 27px;
}
.green-color,
.white-color {
    width: 28px;
    height: 28px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    margin: 0 15px;
}
.green-color {
    background-color: #afd755;
    border: 2px solid #fff;
}
.white-color {
    background-color: #fff;
    border: 2px solid #d3d3d3;
}
.font-name {
    color: #fff;
    font-size: 16px;
}
.alphabet-img {
    display: block;
}
.alphabet-block {
    margin-left: 48px;
}
.other-pages-block {
    display: flex;
    margin-left: 65px;
}
.other-pages-block ul {
    list-style: inherit;
    width: 100px;
}
.other-pages-block ul li {
    color: #fff;
}
.group {
    width: 50px;
}
.quality {
    width: 35px;
}
.search {
    width: 30px;
}
.breakfast {
    width: 40px;
}
.ukraine {
    width: 45px;
}
.main-page-title {
    display: block;
    margin-left: auto;
    margin-bottom: 50px;
}
.main-page {
    &__title {
        position: relative;
        font-size: 64px;
        font-family: 'Geometria';
        font-weight: 800;
        text-transform: uppercase;
        display: block;
        margin-left: auto;
        margin-bottom: 50px;
        text-align: right;
        color: #afd755;
        &::after {
            @include line;
            right: 0;
            bottom: 0;
        }
    }
    &__sub-title {
        font-size: 36px;
        font-family: 'Geometria';
        font-weight: 700;
        display: block;
        margin-left: auto;
        color: #272727;
    }
}
.main-page-content {
    background: url('/img/portfolio/minoborona/main-page-presentation.png') no-repeat;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    width: 100%;
    height: 131vw;
}
.color {
    margin-top: 50px;
}
.color .top {
    margin-bottom: 80px;
}
.color1 {
    margin-left: 190px;
}
.font .img-block {
    position: relative;
    height: 100px;
}
.font .alphabet-img-uppercase {
    position: absolute;
    left: 45%;
    top: 0;
}
.font {
    position: relative;
}
.font .colors {
    position: absolute;
    left: 20%;
}
.font .alphabet-img {
    position: absolute;
    left: 60%;
    bottom: 0;
}
.font .font-name {
    color: #444444;
    font-size: 36px;
    margin-bottom: 30px;
    text-align: center;
}
.font .font-title {
    display: block;
    margin-left: auto;
    margin-bottom: 70px;
}
.bottom {
    margin-top: 60px;
}
.typography {
    text-align: center;
    width: 100%;
}
.flexbox {
    display: flex;
    justify-content: space-around;
}
.other-pages {
    margin-top: 120px;
}
.other-pages-title-img {
    display: block;
    margin: 0 auto;
}
.other-pages-title {
    margin-bottom: 40px;
}
.other-pages-content {
    width: 100%;
}
.other-pages-content img {
    display: block;
    margin: 0 auto;
    width: 100%;
}
.thanks img {
    display: block;
    margin: 0 auto;
}
.thanks {
    margin-top: 60px;
    margin-bottom: 60px;
}
.bgmob2 {
    display: none;
    width: 50%;
    height: 50%;
    margin: 0 auto;
}
.bgmob2 img {
    width: 100%;
}

@media screen and (min-width: 1921px) {
    .first-screen:before {
        background-size: 100vw;
        width: 100%;
    }
}
@media screen and (max-width: 1500px) {
    .color1 {
        width: 30%;
    }
}
@media screen and (max-width:1400px) {
    .first-screen:before {
        left: -220px;
    }
}
@media screen and (max-width: 1199px) {
    .color-title {
        width: 32%;
    }
    .font .font-title {
        width: 68%;
    }
    .colors {
        width: 70%;
    }
    .font .alphabet-img {
        position: static;
        margin-left: auto;
    }
    .font .alphabet-img-uppercase {
        position: static;
        margin-bottom: 20px;
    }
    .thanks img {
        width: 100%;
    }
    .thanks {
        width: 45%;
        margin: 30px auto;
    }
}
@media screen and (max-width: 991px) {
    .first-screen:before {
        background-size: 86% auto;
    }
    .logo-block img {
        width: 30%;
    }
    .info-block {
        margin-top: 20px;
    }
    .text {
        font-size: 15px;
    }
    .icons-block img {
        margin: 0;

    }
    .iconograph-block svg {
        margin: 0 5px;
    }
    .group {
        width: 40px;
    }
    .quality {
        width: 25px;
    }
    .search {
        width: 20px;
    }
    .breakfast {
        width: 30px;
    }
    .urkaine {
        width: 35px;
    }
    footer .row {
        flex-direction: inherit !important;
    }
}
@media screen and (max-width: 767px) {
    .first-screen:before {
        background: url('/img/portfolio/minoborona/bgmob1.png') no-repeat;
        left: 0;
    }
    .bgmob2 {
        display: block;
        width: 100%;
        height: inherit;
    }
    .first-screen {
        height: auto;
    }
    .logo-block img {
        width: 100%;
    }
    .logo-block {
        width: 220px;
    }
    .main-page-title {
        width: 50%;
    }
    .colors {
        width: 60%;
    }
    .flexbox {
        flex-direction: column;;
    }
    .color-title {
        width: 45%;
    }
    .font .font-title {
        width: 50%;
        margin-bottom: 55px;
    }
    .other-pages-title-img {
        width: 100%;
    }
    .other-pages-title {
        width: 60%;
        margin: 0 auto;
    }
    .other-pages {
        margin-top: 70px;
    }
    header .container {
        width: 100%;
    }
    .mobile_block {
        display: block;
    }
    .mobile_none {
        display: none;
    }
    .bottom {
        margin-top: 10px;
    }
}
@media screen and (max-width: 500px) {
    .main-page-title {
        margin-bottom: 30px;
    }
    .color-title,
    .font .font-title {
        width: 70%;
    }
    .font .font-title {
        margin-bottom: 25px;
    }
    .font .font-name {
        font-size: 30px;
    }
}
@media screen and (max-width: 400px) {
    .first-screen .container,
    .main-page .container,
    .other-pages .container {
        width: 100%;
    }
    .font .alphabet-img-uppercase,
    .font .alphabet-img {
        width: 200px;
    }
    .color1 {
        display: block;
        margin-left: auto;
    }
}