li {
    list-style-type: none; /* Убираем маркеры */
}

@import 'portfolioParts';

@import "../bootstrap3";

.banner__inner, .relative {
    position: relative
}

.colors__txt, .font__gotham-big, .font__weight_upp, .section-name-txt {
    text-transform: uppercase
}

.functional {
    margin-top: 50px;
}

.functional__inner::before, .main::after {
    content: ''
}

@font-face {
    font-family: "Gotham Pro";
    src: url(/fonts/portfolio/p3d/GothamPro.eot);
    src: url(/fonts/portfolio/p3d/GothamPro.eot) format("embedded-opentype"), url(/fonts/portfolio/p3d/GothamPro.woff) format("woff"), url(/fonts/portfolio/p3d/GothamPro.ttf) format("truetype");
    font-weight: 400
}

@font-face {
    font-family: "Gotham Pro";
    src: url(/fonts/portfolio/p3d/GothamPro-Medium.eot);
    src: url(/fonts/portfolio/p3d/GothamPro-Medium.eot) format("embedded-opentype"), url(/fonts/portfolio/p3d/GothamPro-Medium.woff) format("woff"), url(/fonts/portfolio/p3d/GothamPro-Medium.ttf) format("truetype");
    font-weight: 500
}

@font-face {
    font-family: "Gotham Pro";
    src: url(/fonts/portfolio/p3d/GothamPro-Bold.eot);
    src: url(/fonts/portfolio/p3d/GothamPro-Bold.eot) format("embedded-opentype"), url(/fonts/portfolio/p3d/GothamPro-Bold.woff) format("woff"), url(/fonts/portfolio/p3d/GothamPro-Bold.ttf) format("truetype");
    font-weight: 700
}

@font-face {
    font-family: "Gotham Pro - Black";
    src: url(/fonts/portfolio/p3d/GothamPro-Black.eot);
    src: url(/fonts/portfolio/p3d/GothamPro-Black.eot) format("embedded-opentype"), url(/fonts/portfolio/p3d/GothamPro-Black.woff) format("woff"), url(/fonts/portfolio/p3d/GothamPro-Black.ttf) format("truetype")
}

@import "../bootstrap3";

// _responsive-txt.scss
@function strip-unit($number) {
    @if type-of($number) == 'number' and not unitless($number) {
        @return $number / ($number * 0 + 1);
    }
    @return $number;
}

@function calcFluidFontSize($f-min, $f-max, $w-min, $w-max, $units: px) {
    $f-min: strip-unit($f-min);
    $f-max: strip-unit($f-max);
    $w-min: strip-unit($w-min);
    $w-max: strip-unit($w-max);

    $k: ($f-max - $f-min)/($w-max - $w-min);
    $b: $f-min - $k * $w-min;

    $b: $b + $units;

    @return calc( #{$k} * 100vw + #{$b} );
}

@mixin fluidFontSize($f-min, $f-max, $w-min, $w-max, $fallback: false) {

    font-size: $f-min;

    @media (min-width: $w-min) {
        @if ($fallback) {
            font-size: $fallback;
        }
        font-size: calcFluidFontSize($f-min, $f-max, $w-min, $w-max, px);
    }
    @media (min-width: $w-max) {
        font-size: $f-max;
    }
}
//end _responsive-txt.scss

// _var.scss
@mixin classic-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

@mixin content-block-absolute {
    content: '';
    display: block;
    position: absolute;
}
//end _var.scss

a {
    text-decoration: none !important;
}

main .header {
    @include classic-flex;
    align-items: center;
    background: url('/img/portfolio/p3d/header-bg.jpg') no-repeat center / cover;
    height: 100vh;
    position: relative;
    z-index: 1;
    font-family: 'Geometria';
    font-weight: 700;
    background-origin: none;
    &__container {
        max-width: 1780px;
        padding: 0 15px;
        margin: auto;
        width: 100%;
    }
    &__inner {
        @include classic-flex;
        align-items: flex-end;
        justify-content: flex-start;
        position: relative;
        @media screen and (max-width: 991px) {
            display: block;
            margin: 50px auto;
        }
    }
    &__description {
        flex-basis: 45%;
        margin-top: 186px;
        @media screen and (max-width: 1499px) {
            flex-basis: 40%;
            margin-top: 405px;
        }
        @media screen and (max-width: 1199px) {
            margin-top: 592px;
        }
        @media screen and (max-width: 991px) {
            margin-top: 0;
        }
    }
    &__logo {
        display: block;
        margin: 0 auto;
        text-align: center;
    }
    &__phone-laptop {
        position:absolute;
        right: 0;
        bottom: 30px;
        width: 64%;
        @media screen and (min-width: 1920px) {
            width: 1197px;
        }
        @media screen and (max-width: 991px) {
            margin-top: 28px;
            position: relative;
            width: 100%;
        }
    }
    &__img-phone {
        position: absolute;
        width: 23%;
        left: 50px;
        bottom: -20px;
        z-index: 1;
        @media screen and (max-width: 1367px) {
            left: 34px;
        }
        @media screen and (max-width: 575px) {
            left: 18px;
        }
    }
    &__img-laptop {
        max-width: 100%;
    }
    &__txt {
        @include fluidFontSize (18px, 24px, 320px, 991px, 24px);
        text-align: center;
        color: #5e5e5e;
        max-width: 295px;
        margin: 40px auto 40px auto;
        @media screen and (max-width: 991px) {
            margin-bottom: 35px;
            margin-top: 25px;
        }
    }
    &__icons {
        @include classic-flex;
        align-items: center;
        margin: 0 auto;
        max-width: 184px;
        margin-bottom: 50px;
    }
    &__img-area {
        width: 36px;
        height: 36px;
    }
    &__icon-img {
        display: inline-block;
        max-width: 100%;
        height: auto;
    }
    &__button {
        display: block;
        color: #555555;
        text-transform: uppercase;
        border: 2px solid #00b4db;
        padding: 17px 23px;
        text-align: center;
        max-width: 226px;
        margin: 0 auto;
        @include fluidFontSize (14px, 18px, 320px, 991px, 18px);
        transition-duration: 0.5s;
        &:hover {
            background-color: #00b4db;
            color: #fff;
        }
        @media screen and (max-width: 991px) {
            padding: 14px;
        }
    }
    @media screen and (max-width: 991px) {
        height: 100%;
    }
}

body, html {
    overflow-x: hidden
}

p {
    margin: 0
}

.text-right {
    text-align: right
}

.text-left {
    text-align: left
}

.section-name_center, .text-center {
    text-align: center
}

.p3d {
    margin: 0 auto;
    max-width: 1920px;
    padding-bottom: 369px;
}
.port-link {
    color: black;
    text-transform: uppercase;
    padding: 15px 40px;
    border: 2px solid #cc3743;
    transition: all .3s ease;
}
.port-link:hover{
     letter-spacing: 1px;
    text-decoration: none;
 }

@-webkit-keyframes move {
    from {
        left: 150px
    }
    to {
        left: 230px
    }
}

@keyframes move {
    from {
        left: 150px
    }
    to {
        left: 230px
    }
}

.banner__inner {
    width: 100%;
    max-width: 1469px;
    margin: 0 auto
}

.banner__mob-txt-wrap {
    text-align: center
}

.banner__back {
    margin: auto
}

.banner__notebook {
    position: absolute;
    -webkit-animation: move 3s infinite alternate linear;
    animation: move 3s infinite alternate linear;
    top: 160px
}

.banner__txt {
    position: absolute;
    top: 704px;
    left: 50%;
    margin-left: -231px
}

.section-name_right {
    width: 100%;
    max-width: 360px;
    margin-left: auto;
    margin-right: 166px;
}

.section-name-txt {
    color: #0e0e0e;
    font-family: "Gotham Pro - Black";
    font-size: 36px;
    letter-spacing: .72px;
    margin: 0
}

.colors__txt, .functional__bold, .functional__reg {
    font-family: "Gotham Pro";
    font-size: 16px
}

.section-name-txt_inner {
    display: block;
    text-align: right
}

.functional .container {
    position: relative
}

.functional__instr {
    position: absolute;
    right: -12px;
    top: 40px
}

.functional .line-l, .functional .line-mid, .functional .line-mid::after, .functional .line-mid::before, .functional .line-r {
    width: 2px;
    height: 5761px;
    background-color: #f0f0f0;
    position: absolute;
    top: -70px;
    z-index: -1
}

.functional .line-mid::after, .functional .line-mid::before {
    content: '';
    display: block;
    top: 0
}

.functional .line-l {
    left: 6px
}

.functional .line-r {
    right: 9px
}

.functional .line-mid {
    left: 556px
}

.functional .line-mid::before {
    left: 290px
}

.functional .line-mid::after {
    right: 290px
}

.functional__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.colors__inner, .functional__inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox
}

.functional__item_2 {
    margin-top: 40px
}

.functional__img {
    margin-right: 15px
}

.functional__bold, .functional__reg {
    color: #fff;
    letter-spacing: .64px
}

.functional__reg {
    font-weight: 400
}

.colors__txt, .font__weight_bold, .functional__bold {
    font-weight: 700
}

.functional__inner {
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    margin-top: 36px;
    width: 100%;
    max-width: 547px;
    padding: 36px 75px 0 36px
}

.functional__inner::before {
    display: block;
    background: url(/img/portfolio/p3d/func-frag-1.png) center/contain no-repeat;
    width: 634px;
    height: 286px;
    position: absolute;
    left: -23px;
    top: -7px;
    z-index: -1
}

.colors {
    margin-top: 30px
}

.colors__section-name {
    max-width: 308px
}

.colors__inner {
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    max-width: 713px;
    margin-top: 108px;
    margin-left: 191px
}

.colors__item {
    width: 133px;
    height: 133px;
    border: 1px solid;
    position: relative
}

.colors__item img {
    position: absolute;
    left: 33px;
    top: 35px
}

.main, .main__inner {
    position: relative
}

.colors__item_blue {
    border-color: #0097ff
}

.colors__item_yellow {
    border-color: #ff9700
}

.colors__item_black {
    border-color: #0e0e0e
}

.colors__txt {
    letter-spacing: .32px;
    margin-top: 150px;
    margin-left: 67px
}

.font__gotham-big, .font__weight_black {
    font-family: "Gotham Pro - Black"
}

.font {
    margin-top: 174px
}

.font__inner {
    background: url(/img/portfolio/p3d/font-bg.png) center/cover no-repeat;
    width: 100%;
    max-width: 1488px;
    margin: 38px auto 0;
    padding-bottom: 130px
}

.font__gotham-big {
    color: #fff;
    font-size: 36px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 1.44px;
    text-align: center;
    margin-bottom: 60px;
    margin-top: 127px
}

.font__weight {
    font-size: 16px;
    letter-spacing: 1.2px;
    text-align: center;
    color: #fff
}

.font__weight_bold, .font__weight_med, .font__weight_reg {
    font-family: 'Gotham Pro'
}

.font__weight_med {
    font-weight: 500
}

.font__weight_reg {
    font-weight: 400
}

.font__weight-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    max-width: 462px;
    margin: 0 auto 54px
}

.main::after {
    display: block;
    width: 100%;
    max-width: 1488px;
    height: 413px;
    -webkit-box-shadow: 0 3px 12px 1px rgba(0, 0, 0, .09);
    box-shadow: 0 3px 12px 1px rgba(0, 0, 0, .09);
    background-color: #0097ff;
    margin: -342px auto 0
}

.main-frag-4, .main__full {
    -webkit-box-shadow: 0 3px 12px 1px rgba(0, 0, 0, .09)
}

.main__inner {
    margin-top: 45px
}

.main__full {
    box-shadow: 0 3px 12px 1px rgba(0, 0, 0, .09)
}

.main-frag {
    position: absolute
}

.main-frag-1 {
    top: 20px;
    left: -3px
}

.main-frag-2 {
    top: 116px;
    left: 257px
}

.main-frag-3 {
    top: 841px;
    left: -3px
}

.main-frag-4 {
    top: 1400px;
    left: 80px;
    z-index: 1;
    box-shadow: 0 3px 12px 1px rgba(0, 0, 0, .09)
}

.other {
    margin-top: 85px
}

.other__inner {
    position: relative
}

.other__section-name {
    margin-left: 100px;
    margin-right: auto
}

.other-frag {
    top: -70px;
    right: -15px
}

.other__bottom-mock {
    margin-top: 130px
}

.other__bottom-mock img {
    margin: 0 auto;
    position: relative;
    left: 30px
}

.other__shadow {
    -webkit-box-shadow: 0 3px 12px 1px rgba(0, 0, 0, .09);
    box-shadow: 0 3px 12px 1px rgba(0, 0, 0, .09)
}

.other__page-1, .other__page-2, .other__page-3 {
    z-index: -1;
    position: relative
}

.other__page-1 {
    margin-top: -100px;
    right: 5px
}

.other__page-2 {
    margin-top: -360px;
    z-index: 2;
    right: 10px
}

.other__page-3 {
    margin-top: -632px
}

.other__txt {
    position: absolute;
    right: -12px;
    top: -40px
}

.other-frag-1 {
    right: 200px;
    bottom: -310px
}

.other-frag-3 {
    left: 123px;
    top: 623px
}

.other__section-name-txt {
    font-size: 64px
}

.other .section-name-txt_inner {
    font-size: 36px
}

.other-bottom__section-name {
    margin: 100px auto 0;
    max-width: 459px
}

@media screen and (max-width: 1350px) {
    .banner__notebook {
        -webkit-animation: none;
        animation: none;
        left: 50%;
        margin-left: -482px;
        top: 0
    }

    .other__bottom-mock img {
        position: static
    }

    .banner__back {
        margin-left: 30px
    }

    .banner__txt {
        top: 550px
    }

    .other__page-1 {
        margin: 0
    }

    .other__page-3 {
        margin-top: -514px
    }

    .other__txt {
        top: 0
    }
}

@media screen and (max-width: 1200px) {
    .functional .line-l, .functional .line-mid, .functional .line-mid::after, .functional .line-mid::before, .functional .line-r, .functional__instr {
        display: none
    }

    .colors__inner {
        margin: 40px auto 0
    }

    .main-frag-2 {
        left: 227px
    }

    .main-frag-4 {
        top: 1200px
    }
}

@media screen and (max-width: 1100px) {
    .other-frag-1, .other-frag-3 {
        display: none
    }

    .p3d {
        padding-bottom: 150px
    }

    .banner__notebook-img {
        max-width: 700px
    }

    .banner__notebook {
        margin-left: -350px
    }

    .banner__txt {
        top: 390px
    }
}

@media screen and (max-width: 992px) {
    .main-frag-1, .main-frag-2, .main-frag-3 {
        display: none
    }

    .other__page-1, .other__page-2, .other__page-3 {
        margin: 0 0 20px
    }

    .other-bottom__section-name {
        margin: 20px auto 0
    }

    .colors {
        margin-top: 70px
    }

    .colors__txt {
        margin-top: 139px;
        margin-left: 32px
    }
}

@media screen and (max-width: 840px) {
    .banner__notebook-img {
        max-width: 400px
    }

    .banner__notebook {
        margin-left: -200px;
        top: 80px
    }

    .banner__txt {
        top: 320px
    }
}

@media screen and (max-width: 730px) {
    .banner__txt, .main-frag-4, .other-frag, .other__txt {
        display: none
    }

    .p3d {
        padding-top: 30px
    }

    .banner__notebook {
        margin-left: -170px;
        top: -20px
    }

    .banner__notebook-img {
        max-width: 350px
    }

    .banner__mob-txt-wrap {
        display: block
    }

    .banner__mob-txt-bold, .banner__mob-txt-thin {
        color: #0e0e0e;
        font-family: "Gotham Pro - Black";
        font-size: 30px;
        text-align: center;
        line-height: 100%
    }

    .banner__mob-txt-thin {
        font-size: 25px
    }

    .other__bottom-mock {
        margin-top: 40px
    }

    .other__section-name {
        margin-left: auto
    }

    .font {
        margin-top: 90px
    }

    .section-name-txt {
        font-size: 26px
    }

    .banner {
        margin-bottom: 30px
    }

    .banner__txt {
        top: 120px;
        margin-left: -110px;
        max-width: 220px
    }

    .banner__back {
        margin: auto;
        max-width: 320px;
        position: relative;
        left: 6px
    }

    .other__section-name-txt {
        font-size: 44px
    }
}

@media screen and (max-width: 600px) {
    .functional__inner::before {
        display: none
    }

    .functional__inner {
        background: #0097ff;
        padding: 20px
    }
}

@media screen and (max-width: 450px) {
    .colors__item {
        width: 90px;
        height: 90px
    }

    .section-name_right{
        margin-right: 0;
    }

    .functional__inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center
    }

    .functional__item_2 {
        margin-bottom: 40px
    }

    .colors__item img {
        left: 11px;
        top: 15px
    }

    .colors__txt {
        margin-top: 95px;
        margin-left: 2px
    }
}