* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-size: 100%;
  box-sizing: border-box;
}

*::after, *::before {
  box-sizing: border-box;
}
body, html {
  background-color: #111;
}
body {
  font-family: sans-serif;
}
@import 'portfolioParts';

@font-face {
  font-family: 'a_Concepto-Bold';
  src: url('/fonts/portfolio/teached/AConceptoBold.eot');
  src: url('/fonts/portfolio/teached/AConceptoBold.eot?#iefix') format('embedded-opentype'),
  url('/fonts/portfolio/teached/AConceptoBold.woff2') format('woff2'),
  url('/fonts/portfolio/teached/AConceptoBold.woff') format('woff'),
  url('/fonts/portfolio/teached/AConceptoBold.ttf') format('truetype'),
  url('/fonts/portfolio/teached/AConceptoBold.svg#AConceptoBold') format('svg');
}

@font-face {
  font-family: 'Geometria';
  src: url('/fonts/portfolio/Geometria/Geometria-Bold.eot');
  src: url('/fonts/portfolio/Geometria/Geometria-Bold.eot?#iefix') format('embedded-opentype'),
  url('/fonts/portfolio/Geometria/Geometria-Bold.woff2') format('woff2'),
  url('/fonts/portfolio/Geometria/Geometria-Bold.woff') format('woff'),
  url('/fonts/portfolio/Geometria/Geometria-Bold.ttf') format('truetype'),
  url('/fonts/portfolio/Geometria/Geometria-Bold.svg#Arial-BoldMT') format('svg');
}
@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/portfolio/gilroy/Gilroy-Heavy.eot');
  src: url('/fonts/portfolio/gilroy/Gilroy-Heavy.eot?#iefix') format('embedded-opentype'),
  url('/fonts/portfolio/gilroy/Gilroy-Heavy.woff2') format('woff2'),
  url('/fonts/portfolio/gilroy/Gilroy-Heavy.woff') format('woff'),
  url('/fonts/portfolio/gilroy/Gilroy-Heavy.ttf') format('truetype'),
  url('/fonts/portfolio/gilroy/Gilroy-Heavy.svg#Arial-BoldMT') format('svg');
}
@import url('https://fonts.googleapis.com/css?family=Mulish:200,300,regular,500,600,700,800,900&display: swap');
@import url('https://fonts.googleapis.com/css?family=Unbounded:200,300,regular,500,600,700,800,900');
.mulish {
  font-family: "Mulish" !important;
}

  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
      display: block;
  }
  body {
      line-height: 1;
  }
  ol, ul {
      list-style: none;
  }
  blockquote, q {
      quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
      content: '';
      content: none;
  }
  table {
      border-collapse: collapse;
      border-spacing: 0;
  }@mixin classic-flex {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
  }

  @mixin content-block-absolute {
      content: '';
      display: block;
      position: absolute;
  }

  @mixin line-bot {
      @include content-block-absolute;
      border-bottom: 4px solid #F6A947;
      width: 65%;
      left: 0;
      bottom: 0;
      @media screen and (max-width: 991px) {
          display: none;
      }
  }

  @mixin home-page-bgc{
      @include content-block-absolute;
      background: url('/img/portfolio/teached/home-page-bg.png') no-repeat center / contain;
      width: 100%;
      height: 100%;
      top: 24%;
  }

  @mixin sphere-vertical-border {
      @include content-block-absolute;
      border-left: 2px dashed #CACACA;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 59px;
  }

  @mixin sphere-horizontal-border {
      @include content-block-absolute;
      border-bottom: 2px dashed #CACACA;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -30%);
      width: 90%;
      z-index: -1;
  }

  @function strip-unit($number) {
      @if type-of($number) == 'number' and not unitless($number) {
          @return $number / ($number * 0 + 1);
      }

      @return $number;
  }

  @function calcFluidFontSize($f-min, $f-max, $w-min, $w-max, $units: px) {
      $f-min: strip-unit($f-min);
      $f-max: strip-unit($f-max);
      $w-min: strip-unit($w-min);
      $w-max: strip-unit($w-max);

      $k: ($f-max - $f-min)/($w-max - $w-min);
      $b: $f-min - $k * $w-min;

      $b: $b + $units;

      @return calc( #{$k} * 100vw + #{$b} );
  }

  @mixin fluidFontSize($f-min, $f-max, $w-min, $w-max, $fallback: false) {

      font-size: $f-min;

      @media (min-width: $w-min) {
          @if ($fallback) {
              font-size: $fallback;
          }
          font-size: calcFluidFontSize($f-min, $f-max, $w-min, $w-max, px);
      }
      @media (min-width: $w-max) {
          font-size: $f-max;
      }
  }
  .home {
    padding: 6.25rem 0;
    &__image {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__img {
 
        width: 100%;
     
        object-fit: cover;
        @media (min-width: 767.98px){
          max-width: 80%;   
        }
        @media (max-width: 767.98px){
          max-width: 100%;   
        }
      
    }
  }
  .title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1.25rem;
      text-transform: uppercase;
      position: relative;
      font-weight: bold;
      font-size: clamp(24px, 3vw, 40px);
      font-family: 'Geometria';
      flex-wrap: wrap;
      @media (max-width: 767.98px){
        padding-left: clamp(50px, 10vw, 150px);
      }
      &-left {
        flex: 0 1 39%;
        @media (max-width: 767.98px){
          display: flex;
          align-items: center;
          justify-content: center;
            // flex: 1 1 100% !important;
        }
        @media (max-width: 480px){
          flex: 0 1 80% !important;
        }
      }
      &__bottom {
        text-transform: capitalize;
      }
      &__top {
        display: flex;
        align-items: flex-end;
        gap: 2.25rem;
        justify-content: flex-end;
        &-wrapper {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: .625rem;
        }
        p {
          font-size: clamp(60px, 25vw, 270px);
          color: rgba(#F7F7F7, 0.16);
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }
        span.color {
          color: #fff;
          padding-bottom: .625rem;
          border-bottom: 4px solid #fff;
          font-size: clamp(24px, 3vw, 60px);
        }
      }
      // .color-title {
      //   color: #EE5E6C;
      // }
      .color-dark {
        color: #101010;
      }
      .color-white {
        color: #fff;
      }
      .color-gradient {
       
        background: linear-gradient(121deg, rgba(229,93,135,1) 0%, rgba(95,195,228,1) 100%);
        
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

      }
      .color-shadow {


      }
      &__reverse {
          position: absolute;
          transform: rotate(-90deg);
          top: 1500px;
          right: -480px;
          @media screen and (max-width: 1849px) {
              display: none;
          }
      }
      &__primary {
          color: #222222;
          max-width: 402px;
          padding-bottom: 21px;
          @include fluidFontSize (26px, 64px, 320px, 991px, 64px);
          &::after {
              @include line-bot;
          }
      }
      &__secondary {
          @include fluidFontSize (42px, 140px, 320px, 1099px, 140px);
          color: rgba(0, 0, 0, 0.05);
      }
      &__subtitle {
          font-family: 'Geometria';
          @include fluidFontSize (24px, 64px, 320px, 991px, 120px);
          color: #444444;
          text-align: right;
      }
      &__bg {
          position: absolute;
          top: -50%;
          left: 50%;
          transform: translate(-50%, 0);
          @media screen and (max-width: 599px) {
              transform: translate(-50%, 10%);
          }
      }
      @media screen and (max-width: 991px) {
          padding-bottom: 0;
      }
  }
  .mob-versions {
    &__mockup {
      img {
        max-width: 100%;
        width: 100%;
        object-fit: cover;
        min-height: 100vh;
      }
    }
    &-bg-top {
      display: flex;
      img {
        max-width: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    &__body {
      background: #221e20 url('/img/portfolio/teached/bg-mob-versions-section.png') 0 0 / 100% no-repeat;
      min-height: 80vh;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    &__list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      overflow: auto;
      gap: 1.25rem;
      padding-bottom: clamp(40px, 5vw, 80px);
      @media (max-width: 480px){
          margin-right: -1.25rem;
          padding-right: 1.25rem;
      }
      img {
        min-width: 14rem;
        width: 100%;
        object-fit: cover;
      }
    }
  }

  .landing-page {
    background: linear-gradient(90deg, #FCB574 0%, #EC1B67 48.5%, #563085 100%);
    padding-top: clamp(50px, 5vw, 120px);
   
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @media (min-width:991.98px){
        min-height: 80.25rem;
    }
    @media (min-width: 767.98px){
      min-height: 100vh;
    }
    .container-lg {
      position: relative;
      flex: 1;
    }
    
    @media (min-width: 767.98px){
      &::before{
        content:'';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        max-width: 50vw;
        height: 90%;
        mix-blend-mode: luminosity;
        background: url('/img/portfolio/teached/landing-mob.png') bottom left / contain no-repeat;
      }
    }
    &__content {
    

    }
    &__image {
      @media (min-width: 767.98px){
        position: absolute;
        right: 0;
        bottom: -10%;
      }
      @media (max-width: 767.98px){
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: -14%;
      }
      img {
        max-width: clamp(300px,24vw, 500px);
        width: 100%;
        object-fit: cover;
      }
    }
  }
  .landing-page-mockup {
    padding-top: clamp(100px, 10vw, 200px);
    margin-bottom: -5%;
    position: relative;
    z-index: 4;
    &__image {
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 100%;
     
        object-fit: cover;
        @media (min-width: 767.98px){
          max-width: 80%;   
        }
        @media (max-width: 767.98px){
          max-width: 100%;   
        }
      }
    }
  }
  .margin {
      &_mr-140 {
          margin-right: 140px;
          @media screen and (max-width: 991px) {
              margin-right: 0
          }
      }
      &_mt-75 {
          margin-top: 75px !important;
          @media screen and (max-width: 991px) {
              margin-top: 50px !important;;
          }
      }
  }

  html {
      overflow-x: hidden;
  }

  a {
      text-decoration: none;
  }

  p,
  h2,
  h3{
      line-height: 1;
  }


  .container {
      max-width: 1780px;
      padding: 0 15px;
      margin: auto;
      width: 100%;
  }
  .container-lg {
    max-width: 1480px;
    padding: 0 .9375rem;
    margin: 0 auto;
    width: 100%;
}

  //header
  .header {
      @include classic-flex;
      align-items: center;
      background: #111111 url('/img/portfolio/teached/header-bgc.png') no-repeat center / cover;
     
      position: relative;
      z-index: 1;
      font-family: 'Geometria-Bold';
      @media (min-width: 991.98px){
        height: 100vh;
        min-height: 1000px;
      }
      &__inner {
          // @include classic-flex;
          // align-items: flex-end;
          // justify-content: flex-start;
          display: grid;
          grid-template-columns: 50% 50%;
          position: relative;
          align-items: center;
          margin-top: clamp(100px, 5vw, 150px);
          @media screen and (max-width: 991px) {
              display: block;
              // margin: 50px auto;
          }
      }
      &__image {
        img {
          max-width: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
      &__description {
          flex-basis: 45%;
          // margin-top: 186px;
          // @media screen and (max-width: 1499px) {
          //     flex-basis: 40%;
          //     margin-top: 405px;
          // }
          // @media screen and (max-width: 1199px) {
          //     margin-top: 592px;
          // }
          // @media screen and (max-width: 991px) {
          //     margin-top: 100px;
          // }
      }
      &__logo {
          display: block;
          margin: 0 auto;
          text-align: center;
          img{
              max-width: 100%;
          }
      }
      &__img {
          position:absolute;
          right: 0;
          bottom: 0;
          width: 64%;
          img{
              max-width: 100%;
          }
          @media screen and (min-width: 1920px) {
              width: 1197px;
          }
          @media screen and (max-width: 991px) {
              position: relative;
              width: 100%;
          }
      }
      &__txt {
          @include fluidFontSize (18px, 24px, 320px, 991px, 24px);
          text-align: center;
          color: #fff;
          max-width: 26.875rem;
          margin: 32px auto 66px auto;
          @media screen and (max-width: 991px) {
              margin-bottom: 35px;
              margin-top: 25px;
          }
      }
      &__icons {
          @include classic-flex;
          align-items: center;
          margin: 0 auto;
          max-width: 6.25rem;
          margin-bottom: 2.5rem !important;
      }
      &__img-area {
          width: 36px;
          height: 36px;
      }
      &__icon-img {
          display: inline-block;
          max-width: 100%;
          height: 100%;
          @media screen and (max-width: 991px) {
              margin-bottom: 50px;
          }
      }
      &__button-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &__description {
        @media (max-width: 768px){
            margin-bottom: 2.5rem;
        }
      }
      &__button {
        height: 80px;
        font-size: 24px;
        min-width: 290px;
        max-width: 25.625rem;
        width: max-content;
        background: #ff4785;
        font-weight: 700;
        font-size: clamp(16px, 5vw, 24px);
        padding: 0 1.5rem;
        border-radius: 8px;
        color: #fff;
        width: 100%;
        cursor: pointer;
        transition: .15s;
        position: relative;
        font-family: 'Mulish', sans-serif;
        display: inline-flex;
        align-items: center;
        justify-content: center;
@media (max-width: 480px){
    max-width: 10rem;
    height: 3.75rem;
}
        &::before{
          content:'';
          position: absolute;
          width: calc(100% - 13px);
          height: calc(100% - 13px);
          background: linear-gradient(261.35deg, #fff3 17.83%, #ffffff05 73.07%);
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          border-radius: 8px;
          transition: .15s;
    
        }
        &:hover{
          color: #fff;
          &::before{
            width: 100%;
            height: 100%;
      
          }
        }
      }
      @media screen and (max-width: 991px) {
          height: 100%;
      }
  }
  //end header

  //main
  .main {
      font-family: 'a_Concepto-Bold';
      &__container {
          max-width: 1465px;
          padding: 0 15px;
          margin: auto;
          position: relative;
      }
  }

  .main-page {
      position: relative;
      &::before {
          @include home-page-bgc;
      }
      &__inner {
          @include classic-flex;
          align-items: center;
          margin-top: 27px;
          @media screen and (max-width: 1199px) {
              display: block;
          }
      }
      &__inner-img-area {
          position: relative;
          max-width: 100%;
      }
      &__inner-img {
          display: block;
          box-shadow: 0px 0px 64px rgba(0, 0, 0, 0.15);
          margin-top: 37px;
          max-width: 100%;
      }
      &__title {
          @media screen and (max-width: 1199px) {
              margin: 0 auto;
              text-align: center;
              &:first-child {
                  margin-bottom: 20px;
              }
          }
      }
  }
  .branding-page {
  
    padding-bottom: clamp(50px, 10vw, 150px);
    background: url('/img/portfolio/teached/branding-bg.png') 0 0% / cover no-repeat;
    position: relative;
    @media (min-width: 767.98px){
      min-height: clamp(1000px, 40vw, 1360px);
    }
    @media (max-width: 767.98px){
      padding-bottom: 100px;
    }
    &__content {
      position: relative;
      z-index: 2;
      @media (min-width: 767.98px){
        padding: clamp(140px, 6vw, 240px) 0 clamp(80px, 10vw, 140px) 0;
      }
      @media (max-width: 767.98px){
        padding: clamp(80px, 6vw, 140px) 0 0 0;
      }
    }
    &__logos {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      z-index: 2;
      gap: 1.875rem;
      @media (max-width: 767px){
        flex-direction: column; 
     }
      span {
        display: inline-block;
        font-weight: bold;
        font-family: 'Geometria';
        color: #fff;
        font-size: clamp(24px, 1vw, 40px);
      }
    }
    &__logo {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 1.875rem;
    
      &--big {
        img {
          max-width: clamp(300px, 70vw, 840px);
          width: 100%;
        }
      }
      &--small {
        @media (max-width: 767.98px){
     
          display: flex;
          align-items: center;
          justify-content: center;
      }
        img {
          max-width: clamp(125px, 40vw, 265px);
          width: 100%;
          @media (max-width: 767.98px){
              max-width: 200px;
              margin: 0 auto;
          }
        }
      }
    }
  }
  // .color {
  //     position: relative;
  //     padding: 100px 0px 570px 0;
  //     @media screen and (max-width: 1656px) {
  //         padding: 100px 0px 370px 0;
  //     }
  //     @media screen and (max-width: 1199px) {
  //         padding: 100px 0px 100px 0;
  //     }
  //     &__img {
  //         position: absolute;
  //         transform: rotate(180deg);
  //         right: 0;
  //         top: 75px;
  //         max-width: 290px;
  //         @media screen and (max-width: 1656px) {
  //             max-width: 170px;
  //         }
  //         @media screen and (max-width: 1399px) {
  //             display: none;
  //         }
  //     }
  //     &__title {
  //         margin: 0 auto 100px auto;
  //         text-align: center;
  //         position: relative;
  //         &::after {
  //             //line-bot;
  //             left: 50%;
  //             transform: translateX(-50%);
  //         }
  //     }
  //     &__spheres {
  //         @include classic-flex;
  //         margin: 0 auto;
  //         position: relative;
  //         max-width: 1050px;
  //         &::after {
  //             @include sphere-horizontal-border;
  //             @media screen and (max-width: 767px) {
  //                 display: none;
  //             }
  //         }
  //         @media screen and (max-width: 767px) {
  //             display: block;
  //         }
  //     }
  //     &__spheres-item {
  //         @media screen and (max-width: 767px) {
  //             &:not(:last-child) {
  //                 margin-bottom: 35px;
  //             }
  //         }
  //     }
  //     &__sphere-outer {
  //         position: relative;
  //         width: 145px;
  //         height: 145px;
  //         background: url('/img/portfolio/teached/Ellipse.png') no-repeat center / cover;
  //         background-color: #fff;
  //         &_brd-color-ok {
  //             border-color: #00A200;
  //         }
  //         &_brd-color-warning {
  //             border-color: #F6A947;
  //         }
  //         &_brd-color-success {
  //             border-color: #BAE6BA;
  //         }
  //         &_brd-color-gray {
  //             border-color: #A4A4A4;
  //         }
  //         @media screen and (max-width: 767px) {
  //             margin: 0 auto;
  //         }
  //     }
  //     &__sphere-inner {
  //         position: absolute;
  //         border-radius: 50%;
  //         width: 121px;
  //         height: 121px;
  //         top: 50%;
  //         left: 50%;
  //         transform: translate(-50%, -50%);
  //         &_bgc-color-ok {
  //             background-color: #00A200;
  //         }
  //         &_bgc-color-warning {
  //             background-color: #F6A947;
  //         }
  //         &_bgc-color-success {
  //             background-color: #BAE6BA;
  //         }
  //         &_bgc-color-gray {
  //             background-color: #A4A4A4;
  //         }
  //     }
  //     &__icon-img {
  //         position: absolute;
  //         top: 50%;
  //         left: 50%;
  //         transform: translate(-50%, -50%);
  //         max-width: 100%;
  //     }
  //     &__sphere-txt{
  //         position: relative;
  //         font-family: 'IBM Plex Sans Bold';
  //         display: block;
  //         padding-top: 70px;
  //         text-align: center;
  //         &::after {
  //             @include sphere-vertical-border;
  //         }
  //     }
  // }

  .services {
      &__bg {
          background: url('/img/portfolio/teached/home-page-bg.png') no-repeat center / cover;
      }
      &__title {
          position: relative;
          margin-left: auto;
          @media screen and (max-width: 991px) {
              text-align: center;
              margin-bottom: 50px;
              max-width: 100%;
          }
      }
      &__laptop-iphone {
          @include classic-flex;
          align-items: flex-end;
          margin: 0 auto;
          position: relative;
          bottom: 600px;
          left: -7%;
          @media screen and (max-width: 1656px) {
              bottom: 450px;
          }
          @media screen and (max-width: 1379px) {
              bottom: 350px;
          }
          @media screen and (max-width: 1199px) {
              bottom: 0;
          }
      }
      &__img {
          max-width: 100%;
          height: auto;
          @media screen and  (max-width: 1656px) {
              max-width: 65%;
              &:first-child {
                  margin: 0 auto;
              }
          }
          @media screen and (max-width: 1199px) {
              max-width: 50%;
              &:first-child {
                  margin: 0 auto;
              }
              &:last-child {
                  max-width: 20%;
                  margin: 0 auto;
              }
          }
      }
      &__img-page {
          max-width: 100%;
          position: relative;
          bottom: 515px;
          box-shadow: 0px 0px 64px rgba(0, 0, 0, 0.15);
          @media screen and (max-width: 1656px) {
              bottom: 385px;
          }
          @media screen and (max-width: 1379px) {
              bottom: 285px;
          }
          @media screen and (max-width: 1199px) {
              bottom: 0;
              margin-top: 50px;
          }
      }
      &__title-reverse {
          top: -385px;
          right: 0;
          left: -1530px;
      }
  }

  .typography {
    position: relative;
    margin-bottom: clamp(60px, 10vw, 120px);
    padding-top: clamp(100px, 10vw, 150px);
    &::before{
      content:'';
      display: block;
      position: absolute;
      top: 10%;
      right: 0;
      width: clamp(80px, 10vw, 200px);
      height: clamp(80px, 10vw, 200px);
      border-radius: 50%;

      filter: blur(100px);

      background: linear-gradient(90deg, #FCB574 0%, #EC1B67 48.5%, #563085 100%);

    }
    &__font {
    
      align-items: center;
      max-width: 75.25rem;
      margin: 0 auto;
     .d-flex {
      display: flex;
     }
     .row {
      margin-bottom: clamp(20px, 10vw, 40px);
      @media (max-width: 991.98px){
          padding: 0 .9375rem !important;
      }
      .line {
        &:last-child{
          
          margin-bottom: 0;
        }
      }
     }
     .line {
      margin-bottom: clamp(16px, 10vw, 30px);
      display: grid;
      
      gap: 1.25rem;
      @media (min-width: 767.98px){
        grid-template-columns: 30% 70%;
      }
      @media (max-width: 767.98px){
        grid-template-columns: 1fr;
      }
     }
     .column-content-line {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1.25rem;
      margin-bottom: clamp(24px, 10vw, 30px);
      p {
        color: #fff !important;
      }
     }
     .mb-50 {
      margin-bottom: clamp(24px, 10vw, 50px);
     }
     .column-title {
      // display: flex;
      // align-items: center;
     }
      p {

        &.color-gradient {
          background: linear-gradient(121deg, rgb(229, 93, 135) 0%, rgb(95, 195, 228) 100%);
          display: inline-flex;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
   

        }
      }
      .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
        margin: 0 !important;
      }
      .h2 {
        font-family: 'Geometria';
        font-size: clamp(24px, 3vw, 35px);
        font-weight: 800;
        line-height: 1.2;
        text-align: left;
      }
      .h1 {
        font-family: 'Geometria';
        font-size: clamp(32px, 3vw, 60px);
        font-weight: 800;
        line-height: 1.2;
        text-align: left;
      }
      .h3 {
        font-family: 'Geometria';
        font-size: clamp(16px, 3vw, 22px);
        font-weight: 600;
        line-height: 1.2;
        text-align: left;
      }
      .headline1 {
        font-family: 'Geometria';
        font-size: clamp(18px, 3vw, 25px);
        font-weight: 800;
        line-height: 1.2;
        text-align: left;
      }
      .headline2 {
        font-family: 'Geometria';
        font-size: clamp(16px, 3vw, 20px);
        font-weight: 800;
        line-height: 1.2;
        text-align: left;
      }
      .headline3 {
        font-family: 'Geometria';
        font-size: 1rem;
        font-weight: 600;
        line-height: 1.2;
        text-align: left;
      }
      .headline4 {
        font-family: 'Geometria';
        font-size: 1rem;
        font-weight: 600;
        line-height: 1.2;
        text-align: left;
      }
      .h4 {
        font-family: 'Geometria';
        font-size: clamp(14px, 3vw, 18px);
        font-weight: 500;
        line-height: 1.2;
        text-align: left;
      }
      .body1 {
        font-family: 'Geometria';
        color: #776767;
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 1.1;
        text-align: left;

      }
      .body2 {
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.1;
        text-align: left;
      }
      .body3 {
        color: #776767;
        font-size: .875rem;
        font-weight: 400;
        line-height: 1.1;
        text-align: left;
      }
      .color-brown {
        color: #776767 !important;
      }
    }
  }

  .palette {
    margin-bottom: clamp(50px, 10vw, 150px);
    &__header {

    }
    &-color {
      width: clamp(130px, 10vw, 300px);
      height: clamp(130px, 10vw, 300px);
      border-radius: 50%;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-family: 'Geometria';
      flex-direction: column;
      border-radius: 50%;
      position: relative;
      &::before{
        content:'';
        width: 60%;
        height: 60%;
        background-color: #111;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
      p {
        text-align: center;
        position: relative;
        z-index: 2;
        color:   #fff;
        font-size: clamp(16px, 10vw, 18px);
        @media (max-width: 480px){
            font-size: 1rem;
        }
      }
      span {
        display: block;
        text-align: center;
        margin-top: 6px;
      }
      &.color-1 {
        background-color: #fff;
      }
      &.color-2 {
        background-color: #FF4785;
      }
      &.color-3 {
        background-color: #707EFF;
      }
      &.color-4 {
        background-color: #007AFF;
      }
      &.color-5 {
        background: linear-gradient(121deg, rgba(237,66,100,1) 0%, rgba(255,237,188,1) 100%);
        
      } 
      &.color-6 {
        border: 1px solid #FFFFFF;
        background-color: #111;
      }
      &.color-7 {
        background: linear-gradient(121deg, rgb(229, 93, 135) 0%, rgb(95, 195, 228) 100%);
       
      } 
    }
    &__row {
      margin-bottom: clamp(50px, 10vw, 120px);
      display: flex;
      align-items: center;
    
      @media (max-width: 767.98px){
          flex-wrap: wrap;
      }
      @media (min-width: 991.98px){
          // display: grid;
          // align-items: center;
          // grid-template-columns: minmax(300px, 30%) 70%;
          // gap: 1.875rem;
      }
      &:last-child{
        margin-bottom: 0;
      }
      &-body {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;
        max-width: 90%;
        @media (min-width: 480px){
          row-gap: 1.875rem;
          column-gap: 7rem;
        }
        @media (max-width: 480px){
          row-gap: 0.875rem;
          column-gap: 2rem;
        }
        
      }
      .color-title {
        font-family: 'Geometria';
        font-size: clamp(24px, 10vw, 35px);
        font-weight: 800;
        line-height: 1.2;
        text-align: left;

        background: linear-gradient(90deg, #FCB574 0%, #EC1B67 48.5%, #563085 100%);

        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
  .error-page {
    margin-bottom: clamp(100px, 10vw, 150px);
    &__image {
      max-width: 64rem;
      margin: 0 auto;
      img {
        max-width: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
  .thanks {
    display: flex;
    align-items: center;
    justify-content: center;
    &__image {
      @media (max-width: 480px){
        margin: 0 -20%;
      }
      img {
        max-width: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    .color-gradient {
       
      background: linear-gradient(90deg, #FCB574 0%, #EC1B67 48.5%, #563085 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

    }
    &__container {
      max-width: 100% !important;
      padding-right: 0 !important;
    }
    &__left {
      @media (min-width: 767.98px){
        padding-left: clamp(0px, 10vw, 60px);
      }
    }
    &__content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1.25rem;
      @media (max-width: 767.98px){
        flex-direction: column;
      }
    }
    &__title {
      font-family: 'Gilroy';
      font-size: clamp(60px, 10vw, 200px);
      font-weight: 800;
      line-height: 1;
      text-align: left;
      text-transform: uppercase;
    }
  }
  .other-pages {
      &__inner {
          padding-right: 140px;
          @media screen and (max-width: 1199px) {
              padding-right: 0;
          }
      }
      &__img-page {
          position: relative;
          display: block;
          bottom: 300px;
          max-width: 100%;
          box-shadow: 0px 0px 64px rgba(0, 0, 0, 0.15);
          @media screen and (max-width: 1599px) {
              bottom: 200px;
          }
          @media screen and (max-width: 1499px) {
              margin: 0 auto;
          }
          @media screen and (max-width: 1299px) {
              bottom: 100px;
          }
          @media screen and (max-width: 991px) {
              bottom: 50px;
          }
      }
      &__img-page-2 {
          display: block;
          position: relative;
          margin-top: -1000px;
          max-width: 100%;
          margin-left: 140px;
          box-shadow: 0px 0px 64px rgba(0, 0, 0, 0.15);
          @media screen and (max-width: 1499px) {
              margin: -670px 0 0 140px;
          }
          @media screen and (max-width: 1299px) {
              margin: -470px 0 0 140px;
          }
          @media screen and (max-width: 1199px) {
              margin: -25px auto 0;
          }
      }
      &__title-reverse {
          position: absolute;
          transform: rotate(-90deg);
          top: 653px;
          right: -451px;
          z-index: -1;
          @media screen and (max-width: 1199px) {
              display: none;
          }
      }
      &__titles {
          position: relative;
          display: block;
          text-transform: uppercase;
          text-align: center;
          color: #555555;
          margin: 85px 0;
          @include fluidFontSize (32px, 72px, 320px, 991px, 72px);
          &_orange {
              color: #F6A947;
          }
          @media screen and (max-width: 991px) {
              margin: 25px 0;
          }
      }
  }
  //end main


.mb-100 {
  margin-bottom: clamp(40px, 5vw, 100px);
}

.home {
  position: relative;
  &::before{
    content:'';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 7%;
    background: linear-gradient(90deg, rgb(229, 93, 135) 0%, rgb(95, 195, 228) 100%);
  }
  &::after{
    content:'';
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 60%;
    height: clamp(200px, 10vw, 400px);
    background: url('/img/portfolio/teached/home-before.png') no-repeat center / contain;
  }
}

.mockups {
  background: linear-gradient(90deg, rgb(229, 93, 135) 0%, rgb(95, 195, 228) 100%);
  padding: 0 0 clamp(60px, 10vw, 150px);
  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: clamp(20px, 10vw, 40px);
    &-image {
      img {
        max-width: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}

.mockups-mobile {
  &__hero {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      max-width: 59.375rem;
      width: 100%;
      object-fit: cover;
    }
  }
  &__images {max-width: 120rem;
    margin: 0 auto;
    margin-top: -10.25rem;
    img {
      width: 100%;
      max-width: 100%;
      object-fit: cover;
    }
  }
}

.dashboard {
  padding: clamp(50px, 10vw, 150px) 0;
  &__image {
    max-width: 120rem;
    margin: 0 auto;

    img {
      max-width: 100%;
      width: 100%;
     
      object-fit: cover;
      @media (min-width: 767.98px){
        margin-top: -9.25rem;
      }
    }
  }
}

.features {
  position: relative;
  &::after{
    content:'';
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 60%;
    height: clamp(200px, 10vw, 400px);
    background: url('/img/portfolio/teached/home-before.png') no-repeat center / contain;
  }
  &__title {
    font-family: 'Unbounded';
    text-align: center;
    font-weight: bold;
    color: #fff;
    font-size: clamp(24px, 10vw, 40px);
  }
  &__image {
    @media (max-width: 767.98px){
        margin: -20% -90% 0 -90%;
    }
    img {
      max-width: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}